<!DOCTYPE html>
<html lang="en">
<!-- cSpell:ignore Brightspace, Pellissippi, body, directionshtml, quickmarks, checkmarks, Turnitin, howto, unenroll, howtos, classlist, crossorigin, gradebook -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>D2L Quick Reference</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <style>
        a:link,
        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:active,
        a:hover {
            text-decoration: underline;
        }

        blockquote {
            border-left: 5px solid #f0f0f0;
            padding-left: 1.5rem;
        }

        @media screen and (min-width: 768px) {}

        @media (min-width: 979px) {}

        @media (max-width: 1000px) {}

        @media print {
            h1 {
                font-size: 1.3rem
            }
            h2 {
                font-size: 1.2rem;
            }
            h3 {
                font-size: 1.0rem;
            }
            h4 {
                font-size: .9rem;
            }
            blockquote {
                border: none;
            }
            body {
                font-size: .8rem;
            }
            mark,
            kbd {
                color: inherit;
                background-color: #f0f0f0;
                /* text-decoration: underline; */
                font-weight: bold;
            }
            .directions a[href]:after {
                content: " (" attr(href) ") ";
            }
            .fa-external-link {
                display: none;
            }
             ::first-letter {
                margin: 0;
                padding: 0;
            }
            /* .main-content {
                height: 100%;
            } */
          ul{
                page-break-inside: avoid;
            } 
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="masthead">
            <div class="container">
                <h1>{{title}} <small>({{year}})</small>
                    <p class="lead"><a v-bind:href="subtitle.url">{{subtitle.text}}</a></p>
                </h1>
                <!-- <p>{{address}}</p> -->
                <hr>
            </div>
            <!--/container-->
        </div>
        <!--/masthead-->
        <!--main-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-md-3 hidden-print" id="leftCol">
                    <ul class="nav flex-column" id="nav">
                        <li class="nav-item" v-for="tool in tools"><a v-bind:href="addTag(tool.title)">{{tool.title}}</a>
                            <ul class="hidden-md-down hidden-print">
                                <small><li v-if="tool.howtos" v-for="howto in tool.howtos"><a v-bind:href="addTag(howto.title)" v-html="howto.title"></a></li></small>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/left-->
                <!--right-->
                <div class="col-md-9 main-content">
                    <div class="tool" v-for="tool in tools">
                        <h2 v-bind:id="tool.title.toLowerCase()"><a title="go to top" href="#">{{tool.title}}</a></h2>
                        <blockquote v-if="tool.location" v-html="tool.location"></blockquote>
                        <p v-if="tool.info"><span v-html="tool.info"></span></p>
                        <div v-if="tool.howtos" v-for="howto in tool.howtos" class="howto">
                            <a title="go to top" href="#">
                                <h3 v-if="howto.title" v-bind:id="howto.title.toLowerCase()" v-html="howto.title"></h3>
                            </a>
                            <div class="directions" v-html="howto.directionshtml"></div>
                        </div>
                        <!--/howto-->
                        <hr>
                    </div>
                    <!--/tool-->
                    <p>{{address}}</p>
                </div>
                <!--/right-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!-- end of app -->

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Brightspace D2L Quick Reference",
                year: "2017",
                address: 'https://blogs.pstcc.edu/elearn/d2l-reference/',
                subtitle: {
                    text: "Pellissippi State Community College",
                    url: "http://www.pstcc.edu/"
                },
                tools: [
                    {
                        title: "Announcements",
                        location: "Found on the course homepage",
                        howtos: [
                            {
                                title: "Create an Announcement",
                                directionshtml: `<ul>
                                <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to an announcement
                            heading</li> <li>Select <i class="fa fa-plus" aria-hidden="true"></i>
                            <mark>new announcement</mark></p>`
                            },
                            {
                                title: "Delete an Announcement",
                                directionshtml: `<ul><li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to announcement
                            heading</li><li>Select <i class="fa fa-trash" aria-hidden="true"></i>
                            <mark>Delete</mark></li></ul>
                            <p><em>Note</em>: Selecting the
                                <mark>X</mark> in the upper right corner of an announcement pane only dismisses items from your
                                view. Your students can still see these items until they are deleted or expired past your
                                date settings.</p>`
                            },
                            {
                                title: "Dismiss an Announcement",
                                directionshtml: `<p>Select the <mark>X</mark> next to an announcement
                            heading to dismiss an announcement from your view only.</p>`
                            },
                            {
                                title: "Edit Announcement",
                                directionshtml: `<ul><li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to an announcement
                            heading</li><li>Select <i class="fa fa-pencil" aria-hidden="true"></i> <mark>edit</mark></li>
                            <li>Select the <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <mark>Major edit</mark> option to make the item reappear for users who had previously dismissed it</li></ul>`
                            }
                        ]
                    },
                    {
                        title: "Assignments",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Create an Assignment Submission Folder",
                                directionshtml: `<ul>
                        <li>Select the <mark>New Submission Folder</mark> button
                        </li>
                        <li>Name the assignment and <em>optionally</em> connect to a grade Item</li>
                        <li>Set due dates on the
                            <mark>Restrictions</mark> tab to automatically place the assignment on the calendar</li>
                        <li>To check for plagiarism, navigate to the <mark>Turnitin <i class="fa fa-registered" aria-hidden="true"></i></mark> tab and enable</li>
                    </ul>`
                            },
                            {
                                title: "Grade and Provide Feedback for submissions",
                                directionshtml: ` <ul>
                        <li>Select the name of the Assignment folder</li>
                        <li>Select
                            <mark>Users without feedback</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> option in the
                            pulldown menu</li>
                              <li>Select the search icon <i class="fa fa-search" aria-hidden="true"></i> to refresh the results</li>
                        <li>Select the file name to preview, grade, or provide feedback (See Feedback Studio below)</li>
                        <li>Select the
                            <mark>Publish</mark> button to release grade or basic feedback to the student</li>
                    </ul>`
                            },
                            {
                                title:
                                'Turnitin<i class="fa fa-registered" aria-hidden="true"></i> Feedback Studio <small>Originality Check</small>',
                                directionshtml: `  <h4 id="enable">Enable</h4>
                    <p>In order to use Feedback Studio and Turnitin<i class="fa fa-registered" aria-hidden="true"></i> for assignments
                        it must be enabled for the submission folder. This can be done when the assignment is created or
                        at any time by navigating to the
                        <mark>Turnitin<i class="fa fa-registered" aria-hidden="true"></i></mark> tab for the assignment.</p>
                    <h4 id="feedback studio">Feedback Studio</h4>
<ul>
                    <li>Select the name of the Assignment folder</li>
                    <li>Select
                        <mark>Users without feedback</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> option in the pulldown
                        menu
                    </li>
                    <li>Select the percentage information next to the document title to open document in feedback studio.</li>
                    <li>Add comments, recordings, quickmarks, and rubrics. </li>
                    </ul>
                    <p>Try this demo of <a target="_blank" href="http://turnitin.com/assets/en_us/media/feedback-studio-demo/">Feedback Studio.</a> <i class="fa fa-external-link" aria-hidden="true"></i></p>`
                            }
                        ]
                    },
                    {
                        title: "Calendar",
                        location:
                        "Found on the course navigation menu, course homepage, and the organization homepage. ",
                        info:
                        "Course items, quizzes, assignments, etc. that are given dates in the course automatically appear on the course calendar.",
                        howtos: [
                            {
                                title: "Create a Calendar Event",
                                directionshtml: `<ul><li>Select
                        <mark>Create Event</mark></li><li>Set details, dates, and <em>optionally</em> associate with content</li></ul>`
                            },
                            {
                                title: "Manage Dates",
                                directionshtml: `
                                <blockquote>Found in <mark>Course Admin</mark> on the course navigation menu and then <mark>Manage Dates</mark></blockquote>
                                <p>Use the Manage Dates tool to view, edit, and offset the date availability and set the calendar status
                        of all content topics and modules, discussion topics and forums, assignment submissions folders,
                        grades categories and items, announcement items, and quizzes from one central location.`
                            }
                        ]
                    },
                    {
                        title: "Class Progress",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Progress Summary",
                                directionshtml: `<p>Students and instructors can both access reports and details on progress through the course. This includes:
                    grades, objectives, content, discussions, assignment submission folder, quizzes, checklist, surveys,
                    and login reports. </p>`
                            }]
                    },
                    {
                        title: "Classlist",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Enroll a Student or Instructor",
                                directionshtml: `<ul>
                    <li>Select <mark>Add Participant</mark> |
                        <mark>Add Existing User</mark>
                    </li>
                    <li>Search for their username</li>
                    <li>Select a role that they will have in their course (
                        <mark>Instructor</mark> or
                        <mark>Student</mark>)</li>
                    <li>Select the box <i class="fa fa-check-square-o" aria-hidden="true"></i> next to their name and
                        <mark>Enroll Selected Users</mark>
                    </li>
                </ul>
                <p><em>Careful:</em> be sure you don&#39;t accidentally enroll a student as an instructor as they would be able
                    to change anything you can change in your course.</p>
`
                            },
                            {
                                title: "Unenroll a User",
                                directionshtml: `<ul>
                    <li>Select the checkbox <i class="fa fa-check-square-o" aria-hidden="true"></i> next to the user(s) to unenroll</li>
                    <li>Select
                        <mark>unenroll</mark> at the top of the list</li>
                </ul>`
                            },
                            {
                                title: "Send Messages",
                                directionshtml: `<ul><li>Select the checkbox <i class="fa fa-check-square-o" aria-hidden="true"></i> next
                    to the student(s) you would like to message</li><li>Select <mark>Message</mark>
                </li></ul>`

                            }
                        ]
                    },
                    {
                        title: "Content",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Add a New Module",
                                directionshtml: ` <ul><li>Type a name in the
                        <mark>Add a module</mark> text field (left column at the bottom)</li>
                    <li>Press the <kbd>Enter</kbd> key. </li></ul>`
                            },
                            {
                                title: "Add a Topic from a new HTML file",
                                directionshtml: `
                <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Select
                        <mark>Upload / Create</mark> |
                        <mark>Create a File</mark>
                    </li>
                    <li>Enter a title
                    </li>
                    <li><em>Optionally,</em> select one of the document template styles next the document title</li>
                    <li>Type or paste content in the HTML editor</li>
                    <li>
                        <mark>Publish</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(drag and drop)</small>",
                                directionshtml: `<ul>
                    <li>Select a module from the Table of Contents</li>
                    <li>Drag file(s) from your desktop to the drop target in the content area</li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(upload to manage files)</small>",
                                directionshtml: ` <ul>
                    <li>Select <mark>Course Admin</mark> on the course navigation menu
                    </li>
                    <li>
                        <mark>Manage Files</mark>
                    </li>
                    <li>Select <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> <mark>Upload</mark> and a pop-up window will appear</li>
                    <li>Drag and drop files from your computer to the popup window or select the
                        <mark>Upload</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(bulk upload to manage files)</small>",
                                directionshtml: `<ul>
                    <li>Locate the files / folders on your local computer and highlight or select them </li>
                    <li>Create a <code>.zip</code> file (PC: Right click |
                        <mark>Send To</mark> |
                        <mark>Compressed (zipped) folder</mark> Mac: <kbd>CTRL</kbd>-click |
                        <mark>Compress</mark>)</li>
                    <li>Upload the archive / zip file (see directions above for uploading a file)</li>
                    <li>Locate the uploaded zip file, activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> for the item, and chose the
                        <mark>Unzip</mark> option</li>
                    <li>Once files are unzipped, delete the original zip file</li>
                </ul>`
                            },
                            {
                                title: "Add Topics from existing files in your course",
                                directionshtml: `     <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Select
                        <mark>Upload / Create</mark> |
                        <mark>Add from Manage Files</mark>
                    </li>
                    <li>Select the boxes <i class="fa fa-check-square-o" aria-hidden="true"></i> to the left of the files you want to add</li>
                    <li>Select the
                        <mark>Add</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Delete Modules or Topics",
                                directionshtml: `<ul>
                    <li>Select the module from the Table of Contents</li>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the title</li>
                    <li>Select the
                        <mark><i class="fa fa-trash" aria-hidden="true"></i> Delete</mark> option</li>
                </ul>`
                            },
                            {
                                title: "Hide or Reveal Topics",
                                directionshtml: ` <ul>
                    <li>Select a module from the Table of Contents</li>
                    <li>Select the
                        <mark>Bulk Edit</mark> button</li>
                    <li>Select
                        <mark>Published / Draft</mark> and select your setting</li>
                </ul>`
                            },
                            {
                                title: "Link to an Activity",
                                directionshtml: `    <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Select
                        <mark>Existing Activities</mark>
                    </li>
                    <li>Select the type of activity</li>
                    <li>Select an existing activity or create a new one by selecting the <mark>Create New</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Rearrange Modules or Topics",
                                directionshtml: `    <ul>
                    <li>Select the three bars <i class="fa fa-bars" aria-hidden="true"></i> next to a module or topic to drag it to a new location and release</li>
                    <li>When dragging an item, hover over a module until it becomes highlighted to move the selected item inside the module</li>
                    <li>Drag topics from the main content pane to the Table of Contents to move topics between modules</li>
                </ul>`
                            }
                        ]
                    },
                    {
                        title: "Course Admin and Organization",

                        howtos: [
                            {
                                title: "Copy Course Components",
                                directionshtml: `<ul>
                    <li>Enter the Destination course</li>
                    <li>Select <mark>Course Admin</mark> on the course navigation menu
                    </li>
                    <li>
                        <mark>Import / Export / Copy Components</mark>
                    </li>
                    <li>Select the <mark>Select Course</mark> button
                    </li>
                    <li>Select the course to copy from and select
                        <mark>Add Selected</mark>
                    </li>
                    <li>Select the button marked
                        <mark>recommended</mark> to select the items to copy
                    </li>
                    <li>Select your items to copy</li>
                    <li>
                        <mark>Continue</mark> after confirming your choices</li>
                    <li>Select
                        <mark>Finish</mark> and wait for the green check marks to appear</li>
                </ul>`
                            },
                            {
                                title: "Messaging",
                                directionshtml: `<p>Send messages from the classlist, assignments, grades, mail tool, etc.</p>
                <h4 id="access course messages">Access Course Messages</h4>

                <ul>
                    <li>Enter a course</li>
                    <li>Select the mail icon <i class="fa fa-envelope" aria-hidden="true"></i> on the mini navigation menu</li>

                </ul>


                <h4 id="forward messages">Forward Messages</h4>
                <p> Only Instructors can forward their course messages to an external email address by going to <mark>Settings</mark> <i class="fa fa-cog" aria-hidden="true"></i> from within course messages. <em>Note:</em> these messages cannot be replied to from
                    the external address.</p>

                <h4>Send Messages</h4>
                <p><a href="#send messages">See classlist messaging</a></p>
                    
                `
                            },
                            {
                                title: "Notifications",
                                directionshtml: `<p>Find notification settings by selecting your name in the top-right corner of the page. Encourage your students to enroll in notifications to receive course updates in their email or mobile devices.
                    See also, the Pulse App.</p>`
                            },
                            {
                                title: "Pinning Courses",
                                directionshtml: `<ul>
                    <li>Select the course selection dropdown menu <i class="fa fa-caret-down" aria-hidden="true"></i> in the mini navigation bar at the top of the page</li>
                    <li>Select the thumbtack <i class="fa fa-thumb-tack" aria-hidden="true"></i> next to a course title to pin
                        it to the top of the list</li>
                </ul>`
                            },
                            {
                                title: "Profile",
                                directionshtml: `<p>Find profile settings by selecting your name in the top-right corner of the page. Add a profile image and encourage your students to do the same. Add further contact information, interests, and social networking connections.</p>`
                            },
                            {
                                title: "Pulse App",
                                directionshtml: `<p>Students can see course updates, Content, dates, announcements, and grades for all their courses. Direct students
                    to download the app for iPhone and Android devices!
                    <a href="https://www.d2l.com/products/pulse/" target="_blank">Download the Pulse App </a><i class="fa fa-external-link" aria-hidden="true"></i></p>`
                            }
                        ]
                    },
                    {
                        title: "Discussions",
                        location: "Found on the course navigation menu",
                        info: "Instructors can create forums, topics, threads, and replies. Students can create threads and replies if a topic is available.",
                        howtos: [
                            {
                                title: "Create a new Forum or Topics",
                                directionshtml: ` <ul><li>Select the
                        <mark>New</mark> button</li>
                        <li>Select either
                        <mark>New Forum</mark> or
                        <mark>New Topic</mark>
                    </li>
                        <li>Complete the form: title, description, and availability (if desired)</li>
                    <li>If it is a new forum then select
                        <mark>Save and Add Topic</mark> to complete the topic setup form</li>
                    <li>Use the
                        <mark>Assessment</mark> tab to link a topic to a grade item</li>
                        </ul>`
                            },
                            {
                                title: "Grade a Discussion Topic",
                                directionshtml: `<ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> of a topic select
                        <mark>Assess Topic</mark>
                    </li>
                    <li>Select the
                        <mark>Topic Score</mark> link under the student’s name</li>
                    <li>Enter score(s) and feedback</li>
                    <li>Select the
                        <mark>published</mark> box <i class="fa fa-check-square-o" aria-hidden="true"></i> to send the score to the gradebook</li>
                    <li>
                        <mark>Save and Close</mark>
                    </li>
                </ul>`
                            }
                        ]
                    },
                    {
                        title: "Grades",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Calculating and Releasing Final Grades",
                                directionshtml: `<p>Students cannot see final adjusted or calculated grades until you release it to them.</p>
<h4>Grade to Release</h4>
                <ul>
                    <li>From within the gradebook select <mark>Settings</mark> <i class="fa fa-cog" aria-hidden="true"></i>
                    </li><li>Select the <mark>Calculation Options</mark> tab </li>
                    <li>Select whether the adjusted or calculated
                        grade is released</li>
                        <li><mark>Save</mark> and <mark>Close</mark></li>
                        </ul>
                        <h4>Grade Scheme and Display</h3>
                        <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the final grade item, select <mark>edit</mark></li>
                    <li>Use the pulldown menu <i class="fa fa-caret-down" aria-hidden="true"></i> to select desired Grade Scheme</li>
                    <li>Use Display Options to set what your students will see</li>
                    <li><mark>Save and Close</mark></li>
                    <li>Return to the <mark>Enter Grades</mark> screen</li> 
                    </ul>
                      <h4>Release</h4>
                      <ul>
                    <li>Activate the context menu next to
                        <mark>Final Grade</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> select
                        <mark>Grade All</mark>
                    </li>
                    <li>At the top of the page next to
                        <mark>Final Grade</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> activate the context menu and select
                        <mark>Recalculate All</mark>
                    </li>
                    <li>For Adjusted grade, select
                        <mark>Transfer All</mark> also from the <mark>Final Grade</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> context menu at the top of the page</li>
                    <li>Adjust any values in the Adjusted Grades column and <mark>Save</mark></li>
                    <li>Activate the context menu next to
                        <mark>Final Grade</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> select
                        <mark>Release All</mark>
                    </li>
                    <li>
                        <mark>Save and Close</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Create Grade Items or Categories",
                                directionshtml: `<ul>
                    <li>Select the <mark>Manage Grades</mark> tab </li>
                    <li>Select
                        <mark>New</mark></li>
                    <li>Select either
                        <mark>Item</mark> or
                        <mark>Category</mark> in the context menu <i class="fa fa-caret-down" aria-hidden="true"></i></li>
                    <li>Name the item or category and make property selections</li>
                    <li>
                        Select <mark>Save</mark> or select <mark>Save and New</mark> to continue adding more grade items
                    </li>
                </ul>`
                            },
                            {
                                title: "Drop lowest grades in a category",
                                directionshtml: `<ul>

 <li>Select the <mark>Manage Grades</mark> tab</li>
                    <li>Select a Category name</li>
                    <li>Select the box next to <i class="fa fa-check-circle-o" aria-hidden="true"></i> <mark>Distribute (Weight / Points) Evenly</mark>
                    </li>
                    <li>Set the points for each item</li>
                    <li>Enter the number of highest or lowest items to drop </li>
                    <li>
                        <mark>Save and Close</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Edit multiple grade items",
                                directionshtml: `<ul>
                    <li>Select the top box <i class="fa fa-check-square-o" aria-hidden="true"></i> to select all grade items</li>
                    <li>Select
                        <mark>Bulk Edit</mark>
                    </li>
                    <li>Make changes and
                        <mark>Save</mark>
                    </li>
                </ul>`
                            }, {
                                title: "Enter Grades by Item",
                                directionshtml: `<ul>
                   <li>Select either the <mark>Enter Grades</mark> tab or the <mark>Manage Grades</mark> tab
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to a grade item and select either 
                        <mark>Enter Grades</mark> or <mark>Grade All</mark></li>
                    <li>Enter points for each student and
                        <mark>Save</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Enter Grades by Student",
                                directionshtml: `     <ul>
                   <li>Select the <mark>Enter Grades</mark> tab</li>
                    <li>Select a student’s name</li>
                    <li>Enter grades for each item for the student</li>
                    <li>
                        <mark>Save</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Extra Credit Items",
                                directionshtml: `  <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to a grade item and select <mark>Edit Grade Item</mark></li>
                    <li>Select the
                        <mark>Bonus</mark> option</li>
                    <li>
                        <mark>Save and Close</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Re-order Gradebook Items",
                                directionshtml: `        <ul>
                    <li>Select the <mark>Manage Grades</mark> tab</li>
                    <li>Select the
                        <mark>More Actions</mark> button</li>
                        <li>Select the
                        <mark>Reorder</mark> option</li>
                    <li>Change the sort order using the numbered pulldown menus <i class="fa fa-caret-down" aria-hidden="true"></i></li>
                    <li>
                        <mark>Save</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Show / Hide points / scheme / color",
                                directionshtml: `        <ul>
                    <li>Select <mark>Settings</mark> <i class="fa fa-cog" aria-hidden="true"></i>  in the top-right corner of the gradebook</li>
                    <li>On the
                        <mark>Personal Display Options</mark> tab, Select the boxes in the Grade Details section to
                        <mark>show points, grade scheme symbol (A, B, C), or grade scheme color</mark>
                    </li>
                    <li>Set student view properties on the
                        <mark>Student View Display Options</mark> tab </li>
                </ul>`
                            },
                            {
                                title: "Wizard for Grades Setup",
                                directionshtml: `<ul>
                    <li>Select the <mark>Setup Wizard</mark> tab</li>
                    <li>Select <mark>Start</mark> and answer the questions to define your gradebook settings - weighted, grade scheme, display options, etc.
                    </li></ul>
                        <em>Note:</em> all these settings can be modified at any time by going to
                        <mark>Settings</mark> <i class="fa fa-cog" aria-hidden="true"></i> from within the gradebook.
                `
                            }
                        ]
                    },
                    {
                        title: "Groups",
                        location: "Found in <mark>Course Admin</mark> on the course navigation menu and then <mark>Groups</mark>",
                        info: "Groups can be automatically generated, manually managed, or even self-enrolling.",
                        howtos: [
                            {
                                title: "Create Groups",
                                directionshtml: `<ul>
                   
                    <li>Select
                        <mark>New Category</mark> and provide a name and description</li>
                    <li>Select enrollment style from the menu (
                        <mark>Groups of #</mark> or
                        <mark># of Groups</mark>), entering the number desired</li>
                    <li>Select the boxes <i class="fa fa-check-square-o" aria-hidden="true"></i> to add Discussions or Assignments (if needed)</li>
                    <li>
                        <mark>Save</mark>
                    </li>
                   
                </ul>`
                            },
                            {
                                title: "Edit Groups",
                                directionshtml: `<ul>
                  
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the group category and select <mark>Enroll Users</mark> to manage enrollments</li>
                 <li>
                        <mark>Save</mark>
                    </li>
                    </ul>`
                            }
                        ]
                    },
                    {
                        title: "Quizzes",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Create a Quiz",
                                directionshtml: `<ul>
                    <li>Select
                        <mark>New Quiz</mark>
                    </li>
                    <li>Enter a quiz name and <mark>Add / Edit Questions</mark> on the
                        <mark>Properties</mark> tab</li>
                    <li>Visit the
                        <mark>Restrictions</mark> tab to set dates of availability and time limits</li>
                    <li>Associate a quiz with a Grade item on the
                        <mark>Assessment</mark> tab</li>
                    <li>Select the
                        <mark>Auto Export to Grades</mark> and
                        <mark>Automatic Grade</mark> options if desired</li>
                    <li>Set the number of attempts allowed</li>
                    <li>Setup student view of results on the
                        <mark>Submission Views</mark> tab</li>
                </ul>`
                            },
                            {
                                title: "Grade a Quiz",
                                directionshtml: `   <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the quiz name select the
                        <mark>Grade</mark> option</li>
                    <li>Select the <mark>attempt</mark> under the student’s name</li>
                    <li>Scroll down to view/grade answers and give feedback for the student</li>
                </ul>`
                            },
                            {
                                title: "Quick Edit Multiple Quizzes",
                                directionshtml: ` <ul>
                    <li>Select the check boxes <i class="fa fa-check-square-o" aria-hidden="true"></i> next to quizzes or the select box <i class="fa fa-check-square-o" aria-hidden="true"></i> at the top or bottom of the list to select all
                    </li>
                    <li>Select the
                        <mark>Bulk Edit</mark>
                    </li>
                    <li>Make changes to name, category, active status, or attempt number</li>
                    <li>
                        <mark>Save</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Questions - Add and Edit",
                                directionshtml: ` <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the quiz title</li>
                    <li>Select <mark>Edit</mark></li>
                    
                    <li>Select the
                        <mark>Add/Edit Questions</mark> button found under the <mark>Properties</mark> tab
                    </li>
                    <li>Select the <mark>New</mark> button to add questions</li>
                    <li>When finished, select 
                        <mark>Done Editing Questions</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Randomize Questions",
                                directionshtml: ` <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the quiz name</li>
                   <li>Select <mark>Edit</mark></li>
                    <li>Select the <mark>shuffle order of questions</mark> checkbox <i class="fa fa-check-square-o" aria-hidden="true"></i> on the <mark>Properties</mark> tab
                    <li><mark>Save and Close</mark>
                </ul>`
                            },
                            {
                                title: "Reset a Quiz Attempt",
                                directionshtml: `  <ul>
                    <li>Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the quiz name</li>
                    <li>Select <mark>Grade</mark></li>
                    <li>Select the
                        <mark>Display Options</mark> button and select
                        <mark>Allow Reset</mark> (if necessary)</li>
                    <li>Select the box <i class="fa fa-check-square-o" aria-hidden="true"></i> next to the student’s attempt</li>
                    <li>Select the trashcan icon <i class="fa fa-trash" aria-hidden="true"></i> at the top of the listing</li>
                    <li>Select
                        <markOK</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Special Access and Extended Time",
                                directionshtml: `    <ul>
                    <li>Select the Quiz name</li>
                    <li>Select the
                        <mark>Restrictions</mark> tab and scroll down to the bottom</li>
                    <li>Select the
                        <mark>Add Users to Special Access</mark> button</li>
                    <li>Make choices and settings for individuals or groups as needed</li>
                    <li>Save changes when finished</li>
                </ul>`
                            }
                        ]
                    },
                    {
                        title: "Support",
                        info: `<p>From the Course Homepage in any course you can select the
                    <mark>D2L Help</mark> tab at the bottom right of the screen to ask any questions you might have about your
                    course or about D2L in general.</p>
`,
                        howtos: [
                            {
                                title: "eLearn Documentation Site at ETS",
                                directionshtml: ` <p>A place for 'How Tos' in D2L and Accessibility.
                    <a target="_blank" href="http://blogs.pstcc.edu/elearn/d2l/">ETS eLearn Documentation Site</a> <i class="fa fa-external-link" aria-hidden="true"></i></p>
`
                            },
                            {
                                title: "Official Brightspace Documentation",
                                directionshtml: `   <p>Select
                    <mark>Resources</mark> |
                    <mark>D2L Documentation</mark> at the top course selection screen when you first login. Or access <a href="https://documentation.brightspace.com" target="_blank">the documentation here</a> <i class="fa fa-external-link" aria-hidden="true"></i></p>`
                            }
                        ]
                    }
                ]
            },
            methods: {
                addTag: function (x) { return "#" + x.toLowerCase() }
            }
        });
    </script>
</body>



</html>