<!DOCTYPE html>
<html>
<!-- cSpell:ignore Brightspace, Pellissippi, body, directionshtml, quickmarks, checkmarks, Turnitin, howto, unenroll, howtos, classlist, crossorigin, gradebook -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <title>D2L Quick Reference</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
       

        @media screen and (min-width: 768px) {
     
        }
 

        /* ul li ul {
               list-style: none; 
        } */

        @media (min-width: 979px) {
           
        }
       

        @media (max-width: 1000px) {}


        @media print {
           
            a[href]:after {
                content: none;
            }
        }
    </style>
</head>

<body>


    <div id="app">

        <!-- <nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container" id="app">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{message}}</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#sec">Get Started</a>
        </li>
        <li>
          <a href="#sec">Edit</a>
        </li>
        <li>
          <a href="#sec">Visualize</a>
        </li>
        <li>
          <a href="#sec">Prototype</a>
        </li>
      </ul>
    </nav>
  </div>
</nav> -->

        <div id="masthead">
            <div class="container">

                <h1>{{title}}
                    <p class="lead"><a v-bind:href="subtitle.url">{{subtitle.text}}</a></p>
                </h1>

            </div>
            <!--/container-->
        </div>
        <!--/masthead-->

        <!--main-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-md-3 hidden-print" id="leftCol">
                    <ul class="nav nav-stacked" id="sidebar">
                        <li v-for="tool in tools"><a v-bind:href="addTag(tool.title)">{{tool.title}}</a>
                             <ul>
                                <small><li v-if="tool.howtos" v-for="howto in tool.howtos"><a v-bind:href="addTag(howto.title)" v-html="howto.title"></a></li></small>

                            </ul> 
                        </li>
                    </ul>
                </div>
                <!--/left-->
<!-- todo don't highlight heading links -->
                <!--right-->
                <div class="col-md-9">
                    <div class="tool" v-for="tool in tools">
                        <h2 v-bind:id="tool.title"><a title="go to top" href="#">{{tool.title}}</a></h2>
                        <blockquote v-if="tool.location" v-html="tool.location"></blockquote>
                        <p v-if="tool.info"><span v-html="tool.info"></span></p>
                        <div v-if="tool.howtos" v-for="howto in tool.howtos" class="howto">
                            <h3 v-bind:id="howto.title" v-html="howto.title"></h3>
                            <div v-html="howto.directionshtml"></div>
                            
                        </div>
                        <!--/howto-->
                    </div>
                    <!--/tool-->
                </div>
                <!--/right-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->


    </div>
    <!-- end of app -->

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Brightspace D2L Quick Reference",
                subtitle: {
                    text: "Pellissippi State Community College",
                    url: "http://www.pstcc.edu/"
                },
                tools: [
                    {
                        title: "Announcements",
                        location: "Found on the course homepage",
                        howtos: [
                            {
                                title: "Create an Announcement",
                                directionshtml: `Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to announcement
                            heading and choose <i class="fa fa-plus" aria-hidden="true"></i>
                            <mark>new announcement</mark>`
                            },
                            {
                                title: "Delete an Announcement",
                                directionshtml: `<p><em>Note</em>: Clicking the
                                <mark>X</mark> in the upper right corner of an announcement pane only dismisses items from your
                                view. Your students can still see these items until they are deleted or expired past your
                                date settings</p>`
                            },
                            {
                                title: "Dismiss an Announcement",
                                directionshtml: `Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to an announcement
                            heading and choose <i class="fa fa-trash" aria-hidden="true"></i>
                            <mark>delete</mark>`
                            },
                            {
                                title: "Edit Announcement",
                                directionshtml: ` Activate the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to an announcement
                            heading and choose <i class="fa fa-pencil" aria-hidden="true"></i>
                            <mark>edit</mark>
                            Check the <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <mark>Major edit</mark> option to make the item reappear for users who had previously dismissed it.`
                            }
                        ]
                    },
                    {
                        title: "Assignments",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Create an Assignment Submission Folder",
                                directionshtml: `<ul>
                        <li>Click on the
                            <mark>New Submission Folder</mark> button
                        </li>
                        <li>Name the assignment and <em>optionally</em> connect to a grade Item</li>

                        <li>Set due dates or times on the
                            <mark>Restrictions</mark> tab to automatically place assignment on the calendar</li>
                        <li>To check for plagiarism, navigate to the
                            <mark>Turnitin<i class="fa fa-registered" aria-hidden="true"></i></mark> tab and enable.</li>
                        <li><em>Optionally</em>, you can create and associate rubrics with an assignment</li>
                    </ul>`
                            },
                            {
                                title: "Grade and Provide Feedback for submissions",
                                directionshtml: ` <ul>
                        <li>Click the name of the Assignment folder</li>
                        <li>Choose
                            <mark>Users without feedback</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> option in the
                            pulldown menu</li>
                        <li>Click the file name to preview, grade, or provide feedback. See Feedback Studio below.</li>

                        <li>Click the
                            <mark>Publish</mark> button to release grade or basic feedback to the student</li>
                    </ul>`
                            },
                            {
                                title:
                                'Turnitin<i class="fa fa-registered" aria-hidden="true"></i> Feedback Studio <small>Originality Check</small>',
                                directionshtml: `  <h4 id="enable">Enable</h4>
                    <p>In order to use Feedback Studio and Turnitin<i class="fa fa-registered" aria-hidden="true"></i> for assignments
                        it must be enabled for the submission folder. This can be done when the assignment is created or
                        at any time by navigating to the
                        <mark>Turnitin<i class="fa fa-registered" aria-hidden="true"></i></mark> tab for the assignment.</p>
                    <h4 id="feedback-studio">Feedback Studio</h4>

                    <li>Click the name of the Assignment folder</li>
                    <li>Choose
                        <mark>Users without feedback</mark> <i class="fa fa-caret-down" aria-hidden="true"></i> option in the pulldown
                        menu
                    </li>
                    <li>Click the percentage information next to the document title to open document in feedback studio.</li>
                    <li>Add comments, recordings, quickmarks, and rubrics. </li>
                    <p>Try this demo of <a href="http://turnitin.com/assets/en_us/media/feedback-studio-demo/">Feedback Studio</a></p>`
                            }
                        ]
                    },
                    {
                        title: "Calendar",
                        location:
                        "Found on the course navigation menu, course homepage, and the organization homepage. ",
                        info:
                        "Course items, quizzes, assignments, etc. that are given dates in the course automatically appear on the course calendar",
                        howtos: [
                            {
                                title: "Create a Calendar Event",
                                directionshtml: `<p>Click
                        <mark>Create Event</mark> and set details, dates, and <em>optionally</em> associate with content</p>`
                            },
                            {
                                title: "Manage Dates",
                                directionshtml: `<p>Use the Manage Dates tool to view, edit, and offset the date availability and set the calendar status
                        of all content topics and modules, discussion topics and forums, assignment submissions folders,
                        grades categories and items, announcement items, and quizzes from one central location.</p>
                    <p>Read more about the <a href="https://documentation.brightspace.com/EN/le/manage_dates/instructor/manage_dates_intro_1.htm">Manage Dates</a>  `
                            }
                        ]
                    },
                    {
                        title: "Class Progress",
                        location: "Found on the course navigation menu",
                    howtos: [
                            {
                                title: "Access",
                                directionshtml: `<p>Students and instructors can both access reports and details on progress through the course. This includes:
                    grades, objectives, content, discussions, assignment submission folder, quizzes, checklist, surveys,
                    and login reports. </p>`
                            }]
                    },
                    {
                        title: "Classlist",
                        location: "Found on the course navigation menu",
                        info: `<p>Message from the class list by clicking the checkbox <i class="fa fa-check-square-o" aria-hidden="true"></i>next
                    to the student(s) you'd like to message and then click
                    <mark>Message</mark>
                </p>`,
                        howtos: [
                            {
                                title: "Enroll a Student or Instructor",
                                directionshtml: `<ul>
                    <li>Click
                        <mark>Add Participant</mark> |
                        <mark>Add Existing User</mark>
                    </li>
                    <li>Search for their username</li>
                    <li>Select a role that they will have in their course (
                        <mark>Instructor</mark> or
                        <mark>Student</mark>)</li>
                    <li>Check the box next to their name and
                        <mark>Enroll Selected Users</mark>
                    </li>
                </ul>
                <p><em>Careful:</em> be sure you don&#39;t accidentally enroll a student as an instructor as they would be able
                    to change anything you can change in your course</p>
`
                            },
                            {
                                title: "Unenroll a User",
                                directionshtml: `<ul>
                    <li>Select the checkbox next to the user(s) to unenroll</li>
                    <li>Click
                        <mark>unenroll</mark> at the top of the list</li>
                </ul>`
                            }
                        ]
                    },
                    {
                        title: "Content",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Add a New Module",
                                directionshtml: ` <ul>

                    <li>Type a name in the
                        <mark>Add a module</mark> text field (left column at the bottom)</li>
                    <li>Press the <kbd>Enter</kbd> key. </li>
                </ul>`
                            },
                            {
                                title: "Add a Topic from a new HTML file",
                                directionshtml: `
                <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Click
                        <mark>New</mark> |
                        <mark>Create a File</mark>
                    </li>
                    <li>Enter a title
                    </li>
                    <li>Select one of the document template styles next the document title</li>
                    <li>Type or paste content in the HTML editor</li>
                    <li>
                        <mark>Publish</mark>
                    </li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(drag and drop)</small>",
                                directionshtml: `<ul>
                    <li>Select a module from the Table of Contents</li>
                    <li>Drag file(s) from your desktop to the drop target in the content area</li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(upload to manage files)</small>",
                                directionshtml: ` <ul>
                    <li>From the navbar click
                        <mark>Course Admin</mark>
                    </li>
                    <li>
                        <mark>Manage Files</mark>
                    </li>
                    <li>Click the upload icon and a pop-up window will appear</li>
                    <li>Drag and drop files from your computer to the popup window or click the
                        <mark>Upload</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Add Files <small>(bulk upload to manage files)</small>",
                                directionshtml: `     <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Click
                        <mark>New</mark> |
                        <mark>Add from Manage Files</mark>
                    </li>
                    <li>Check the boxes to the left of the files you want to add</li>
                    <li>Click the
                        <mark>Add</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Add Topics from existing files in your course",
                                directionshtml: `     <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Click
                        <mark>New</mark> |
                        <mark>Add from Manage Files</mark>
                    </li>
                    <li>Check the boxes to the left of the files you want to add</li>
                    <li>Click the
                        <mark>Add</mark> button</li>
                </ul>`
                            },
                            {
                                title: "Delete Modules or Topics",
                                directionshtml: `<ul>
                    <li>Select the module from the Table of Contents</li>
                    <li>Open the context menu <i class="fa fa-caret-down" aria-hidden="true"></i> next to the title</li>
                    <li>Choose the
                        <mark><i class="fa fa-trash" aria-hidden="true"></i> Delete</mark> option</li>
                </ul>`
                            },
                            {
                                title: "Hide or Reveal Topics",
                                directionshtml: ` <ul>
                    <li>Select a module from the Table of Contents</li>
                    <li>Click the
                        <mark>Bulk Edit</mark> button</li>
                    <li>Click
                        <mark>Published / Draft</mark> and choose your setting</li>
                </ul>`
                            },
                            {
                                title: "Link to an Activity",
                                directionshtml: `    <ul>

                    <li>Select a module from the Table of Contents</li>
                    <li>Click
                        <mark>Add Existing Activities</mark>
                    </li>
                    <li>Select the type of activity</li>
                    <li>Click on an existing activity to link to it or use the
                        <mark>Create New</mark> option</li>
                </ul>`
                            },
                            {
                                title: "Rearrange Modules or Topics",
                                directionshtml: `    <ul>
                    <li>Click and drag a module from the Table of Contents to a new location and release</li>
                    <li>Hover over a module until it turns orange to move the selected item inside the module</li>
                    <li>Drag topics from the main content pane to the Table of Contents to move topics between modules</li>
                </ul>`
                            }
                        ]
                    },
                    {
                        title: "Course Admin and Organization",

                        howtos: [
                            {
                                title: "Copy Course Components",
                                directionshtml: `<ul>
                    <li>Enter the Destination course</li>
                    <li>From the navbar click
                        <mark>Course Admin</mark>
                    </li>
                    <li>
                        <mark>Import / Export / Copy Components</mark>
                    </li>
                    <li>Click
                        <mark>Select Course</mark>
                    </li>
                    <li>Select the course to copy from and click
                        <mark>Add Selected</mark>
                    </li>
                    <li>Click the button marked
                        <mark>recommended</mark> to select the items to copy
                    </li>
                    <li>Select your items to copy</li>
                    <li>
                        <mark>Continue</mark> after confirming your choices</li>
                    <li>Click
                        <mark>Finish</mark> and wait for the green checkmarks to appear</li>
                </ul>`
                            },
                            {
                                title: "Messaging",
                                directionshtml: `<p>Send messages from the class list, assignments, grades, mail tool, etc.</p>
                <h4 id="access">Access</h4>

                <ul>
                    <li>Enter a course</li>
                    <li>Click the mail icon <i class="fa fa-envelope" aria-hidden="true"></i> on the mini navigation menu.</li>

                </ul>


                <h4 id="forward-messages">Forward Messages</h4>
                <p> Only Instructors can forward their course messages to an external email address by going to
                    <mark>Settings</mark> from within course messages. <em>Note:</em> these messages cannot be replied to from
                    the external address</p>
                <h3 id="notifications">Notifications</h3>
                <p>Encourage your students to enroll in notifications to receive course updates in their email or mobile devices.
                    See also, the Pulse App.</p>
                <h3 id="pinning-courses">Pinning Courses</h3>
                <ul>
                    <li>Click the course selection dropdown menu in the mini navigation bar at the top of the page. </li>
                    <li>Select the thumb-tack <i class="fa fa-thumb-tack" aria-hidden="true"></i> next to a course title to pin
                        it to the top of the list. </li>
                </ul>`
                            },
                            {
                                title: "Notifications",
                                directionshtml: `<p>Encourage your students to enroll in notifications to receive course updates in their email or mobile devices.
                    See also, the Pulse App.</p>`
                            },
                            {
                                title: "Pinning Courses",
                                directionshtml: `<ul>
                    <li>Click the course selection dropdown menu in the mini navigation bar at the top of the page. </li>
                    <li>Select the thumb-tack <i class="fa fa-thumb-tack" aria-hidden="true"></i> next to a course title to pin
                        it to the top of the list. </li>
                </ul>`
                            },
                            {
                                title: "Profile",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Pulse App",
                                directionshtml: `         <p>Students can see course updates, Content, dates, announcements, and grades for all their courses. Direct students
                    to download the app for iPhone and Android devices!
                    <a href="https://www.d2l.com/products/pulse/">https://www.d2l.com/products/pulse/</a></p>`
                            }
                        ]
                    },
                    {
                        title: "Discussions",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Create new discussion forums and topics",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Grade a Discussion Topic",
                                directionshtml: `TODO`
                            }
                        ]
                    },
                    {
                        title: "Grades",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Calculating and Releasing Final Grades",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Create Grade Items or Categories",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Drop lowest grades in a category",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Edit multiple grade items",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Enter Grades for a Student",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Enter Grades for an Item",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Extra Credit Items",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Re-order Gradebook Items",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Show / Hide points / scheme / color",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Wizard for Grades Setup",
                                directionshtml: `TODO`
                            }
                        ]
                    },
                    {
                        title: "Groups",
                        location: "Found in <mark>Course Admin</mark> on the course navigation menu and then <mark>Groups</mark>",
                        howtos: [
                            {
                                title: "Auto-Generated Groups",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Manually Assigned Groups",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Self-Enrollment",
                                directionshtml: `TODO`
                            }
                        ]
                    },
                    {
                        title: "Quizzes",
                        location: "Found on the course navigation menu",
                        howtos: [
                            {
                                title: "Create a Quiz",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Grade a Quiz",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Quick Edit Multiple Quizzes",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Randomize Questions",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Reset a Quiz Attempt",
                                directionshtml: `TODO`
                            },
                            {
                                title: "Special Access and Extended Time",
                                directionshtml: `TODO`
                            }
                        ]
                    },
                    {
                        title: "Support",
                        info: `<p>From the
                    <mark>Course Home</mark>tab in any course you can click on the
                    <mark>D2L Help</mark> tab at the bottom right of the screen to ask any questions you might have about your
                    course or about D2L in general</p>
`,
                        howtos: [
                            {
                                title: "<em>NEW</em> eLearn Documentation Site at ETS",
                                directionshtml: ` <p>A place for 'How Tos' in D2L and Accessibility
                    <a href="http://blogs.pstcc.edu/elearn/d2l/">http://blogs.pstcc.edu/elearn/d2l/</a></p>
`
                            },
                            {
                                title: "Official Brightspace Documentation",
                                directionshtml: `   <p>Click
                    <mark>Resources</mark> |
                    <mark>D2L Documentation</mark> at the top course selection screen when you first login.L</p>`
                            }
                        ]
                    }
                ]
            },
            methods: {
                addTag: function (x) { return "#" + x }
            }
        });
    </script>
</body>

</html>
<!-- 
### Edit Announcement
### Turnitin Feedback Studio
#### Enable
#### Feedback Studio
## Calendar
### Create a Calendar Event
### Manage Dates
## Class Progress
## Classlist
## Content
## Course Admin and Organization
### Copy Course Components
### Groups
### Messaging
#### Access
#### Forward Messages
### Notifications
#### Pulse App
### Pinning Courses
### Profile
## Discussions
## Grades
## Quizzes
### Support -->