<!DOCTYPE html>
<html lang="en">
<!-- cSpell:ignore gtag, haspopup, toolindex, checkboxes, labelledby, docx, directionslist, Brightspace, Pellissippi, body, directionslist, quickmarks, checkmarks, Turnitin, howto, unenroll, howtos, classlist, crossorigin, gradebook -->

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82226352-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-82226352-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instructor - D2L Brightspace Reference</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="d2lref.css?id=3">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <style>
    .img-fluid {
      max-width: 96%;
    }

    ul {
      line-height: 1.8em;
      -webkit-padding-start: 20px;
    }

  </style>
</head>

<body>
  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
  <div id="app">
    <nav class="navbar  navbar-expand-xs rounded navbar-light bg-light">
      <a class="navbar-brand" href="#">D2L Brightspace Quick Reference
        <small>({{year}})</small>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <!-- <span>Menu
          <i class="fas fa-caret-down"></i>
        </span> -->
      </button>
      <div class="navbar-collapse collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" v-for="(tool, toolindex) in sortTitles">
            <a class="nav-link dropdown-toggle" href="#" :id="tool.title" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{toolindex+1}}. {{tool.title}}</a>
            <div class="dropdown-menu" :aria-labelledby="tool.title">
              <a class="dropdown-item" v-for="(howto, howtoindex) in tool.howtos" :href="'#'+addTag(howto.title)"
                v-html="howto.title"></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="title">{{title}}
        <small class="title">({{year}})</small>
      </h1>
      <p class="lead title">
        <a :href="subtitle.url">{{subtitle.text}}</a>
      </p>
      <p id="looking" class="title">Looking for the
        <a target="_blank" :href="subtitle.studenturl" v-html="subtitle.studenttext"></a>
      </p>
      <div class="form-group d-print-none">
        <div class="col-md-4">
          <label class="checkbox-inline" for="checkboxes-0">
            <input type="checkbox" name="checkboxes" id="checkboxes-0" v-model="images"> Show Images </label>
          <!-- <input type="checkbox" name="checkboxes" id="checkboxes-1" v-model="imagesprint"> Print Images</label> -->
        </div>
      </div>
      <hr>
      <div id="toc" class="toc d-none d-print-block">
        <ol>
          <li v-for="(tool, toolindex) in sortTitles">
            <a :href="'#'+addTag(tool.title)" :id="tool.title">{{tool.title}}</a>
            <ul>
              <li v-for="(howto, howtoindex) in tool.howtos">
                <a :href="'#'+addTag(howto.title)" v-html="howto.title"></a>
              </li>
            </ul>
          </li>

        </ol>
      </div>
      <main class="main-content" role="main">
        <article class="tool" v-for="(tool, toolindex) in sortTitles">
          <h2 :id="addTag(tool.title)" role="heading">
            <small class="numbering">{{(toolindex+1) +'. '}}</small>
            <a title="go to top" href="#" aria-label="go to top">{{tool.title}}</a>
            <span class="copyurl d-print-none btn btn-link" title="copy link to this location" v-on:click="copylink(tool.title)"><i
                class="fas fa-link "></i></span>
          </h2>
          <blockquote v-if="tool.location" v-html="tool.location"></blockquote>
          <p v-if="tool.info">
            <span v-html="tool.info"></span>
          </p>
          <section v-if="tool.howtos" v-for="(howto, howtoindex) in tool.howtos" class="howto">
        <br>
            <div :class="{row: images, 'align-items-center': images}">
              <!-- <div v-if="(howtoindex%2!=0 && howto.image)" class="col-7">
                <img v-if="(images && howto.image)" :src="'./assets/'+howto.image+'.png'" class="img-fluid img-thumbnail rounded mx-auto d-block border border-dark"
                  alt="screenshot of the directions list that follows"> </div> -->
              <div class="col">
                  <h3 v-if="howto.title" :id="addTag(howto.title)" role="heading">
                      <small class="numbering">{{(toolindex+1) +'.'+ (howtoindex+1) +' '}}</small>
                      <a title="go to top" href="#" aria-label="go to top" v-html="howto.title"></a> <span class="copyurl d-print-none btn btn-link"
                        title="copy link to this location" v-on:click="copylink(howto.title)"><i class="fas fa-link "></i></span>
                    </h3>
                <ul class="directionslist" v-if="howto.directionslist">
                  <li v-for="direction in howto.directionslist" v-html="direction"></li>
                </ul>
              </div>
              <div v-if="( howto.image)" class="col-7">
                <img v-if="(images && howto.image)" :src="'./assets/'+howto.image+'.png'" class="img-fluid img-thumbnail rounded mx-auto d-block border border-dark"
                  alt="screenshot of the proceeding directions list"> </div>
            </div>
          </section>
          <hr>
        </article>
        <!--/tool-->
        <input class="d-print-none" type="hidden" id="urlcopy" v-model="urlCopy">
        <p class="text-center">Access this document at: {{address}}</p>
      </main>
    </div>
    <!--/container-->
  </div>
  <!-- end of app -->
  <script>


    var app = new Vue({
      el: '#app',
      data: {
        title: 'D2L Brightspace Quick Reference - Instructor',
        year: 'Nov 2018',
        images: true,
        imagesprint: false,
        address: 'https://goo.gl/Qy8dfB',
        urlCopy: '',
        subtitle: {
          text: 'Pellissippi State Community College',
          url: 'http://www.pstcc.edu/',
          studenttext: 'Student Guide? <i class="fas fa-external-link-alt d-print-none"></i>',
          studenturl: 'https://goo.gl/sEFzo4'
        },
        tools: [
          {
            title: "Announcements",
            location: "Found on the course homepage",
            howtos: [
              {
                title: "Create Announcement",
                image: ["announcementcreate"],
                // video: 'https://www.youtube.com/embed/k63YyQVVdV8',
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> for the announcements widget',
                  'Select <mark>New Announcement</mark>',
                  'Enter the <mark>Headline</mark>, <mark>Content</mark>, <mark>Start / End Dates</>',
                  '<mark>Publish</mark>',
                ]
              },
              {
                title: "Delete or Edit Announcement",
                image: "announcementdelete",
                directionslist: ['Activate the context menu <i class="fas fa-caret-down"></i> for the announcement title',
                  'Select <mark>Delete</mark> or <mark>Edit</mark>',
                  '<em>Note</em>: Selecting the <mark>X</mark> in the upper right corner of an announcement pane only dismisses items from your view. Your students can still see these items until they are deleted or expired past your date settings'
                ]
              },
              // {
              //   title: "Dismiss an Announcement",
              //   image: "announcementdismiss",
              //   directionslist: [
              //     'Select the <mark>X</mark> next to an announcement heading to dismiss an announcement from your view only'
              //   ]
              // },
              // {
              //   title: "Edit Announcement",
              //   image: "announcementedit",
              //   directionslist: [
              //     'Activate the context menu <i class="fas fa-caret-down"></i> for the announcement title',
              //     'Select <mark>Edit</mark>',
              //     'Select the <mark>Major Edit</mark> <i class="far fa-check-square"></i> option to restore the announcement for users who had previously dismissed it',
              //     '<mark>Update</mark>'
              //   ]
              // }
            ]
          },
          {
            title: "Assignments",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Create Assignment Submission Folder",
                image: "assignmentcreate",
                directionslist: [
                  'Select <mark>New Assignment</mark>',
                  '<strong>Properties Tab</strong>',
                  'Enter the <mark>Name</mark> and the Assignment <mark>Instructions</mark>',
                  'Select <mark>Submission type</mark> <i class="fas fa-caret-down"></i>: file, text, on paper, or observed',
                  'Select or create a <mark>Category</mark>',                  
                  'Enter grade value in the <mark>Score Out Of</mark> input ',
                  'Select or create a <mark>Grade Item</mark> to link to',
                  '<strong>Restrictions Tab</strong>',
                  'Deselect the <mark>Hidden from users</mark> <i class="far fa-check-square"></i> option to make the assignment available',
                  'Enter the <mark>Due Date, Start / End date</mark>',
                  '<strong>Turnitin <i class="far fa-registered"></i> Tab</strong>',
                  'Select <i class="far fa-check-square"></i><mark>Enable GradeMark<i class="far fa-registered"></i> for this folder</mark>',
                  'Select <i class="far fa-check-circle"></i><mark>Automatically sync grades as Draft In Brightspace</mark>',
                  'Select <i class="far fa-check-square"></i><mark>Enable Originality Check<i class="far fa-registered"></i> for this folder</mark>'
                ]
              },
              {
                title: "Grade and Provide Feedback for submissions",
                image: "assignmentgrade",
                directionslist: [
                  'Select the name of the Assignment folder',
                  'Select <mark>Users without feedback</mark> <i class="fas fa-caret-down"></i> option in the pull-down menu',
                  'Select the search icon <i class="fas fa-search"></i> to refresh the results',
                  'Select the file name to preview, grade, or provide feedback (See <a href="#turnitin">Feedback Studio</a>)',
                  'Select the <mark>Publish</mark> button to release grade or basic feedback to the student'
                ]
              },
              {
                title:
                  'Turnitin<i class="far fa-registered"></i> Feedback Studio <small>Originality Check</small>',
                image: "assignmentturnitin",
                directionslist: [
                  'Select the name of the Assignment folder',
                  'Select <mark>Users without feedback</mark> <i class="fas fa-caret-down"></i> option in the pulldown menu',
                  'Select the percentage information next to the document title to open the document in feedback studio',
                  'Add comments, recordings, quickmarks, and rubrics ',
                  'Try this demo of <a target="_blank" href="http://turnitin.com/static/feedback-studio-demo/">Feedback Studio</a> <i class="fas fa-external-link-alt d-print-none"></i>'
                ]
              }
            ]
          },
          {
            title: "Calendar",
            location:
              "Found on the course navigation menu, course homepage, and the organization homepage. ",
            info:
              "Course items, quizzes, assignments, etc. that are given dates in the course automatically appear on the course calendar.",
            howtos: [
              {
                title: "Create Calendar Event",
                image: "calendarcreate",
                directionslist: [
                  'Select <mark>Create Event</mark>',
                  'Enter <mark>Event Title</mark>, <mark>Dates</mark>, and <em>optionally</em> associate with content'
                ]
              },
              {
                title: "Manage Dates",
                image: "calendarmanagedates",
                directionslist: [
                  'Found in <mark>Course Admin</mark> on the course navigation menu and then <mark>Manage Dates</mark>',
                  'Use the Manage Dates tool to view, edit, and offset the date availability and set the calendar status of all content topics and modules, discussion topics and forums, assignment submissions folders, grades categories and items, announcement items, and quizzes from one central location'
                ]
              }
            ]
          },
          {
            title: "Class Progress",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Access Progress Summary",
                image: "classprogress",
                directionslist: [
                  'Students and instructors can both access reports and details on progress through the course. This includes: grades, objectives, content, discussions, assignment submission folder, quizzes, checklist, surveys, and login reports.'
                ]
              }]
          },
          {
            title: "Classlist",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Enroll User",
                image: "classlistenroll",
                directionslist: [
                  'Select <mark>Add Participant</mark> | <mark>Add Existing User</mark>',
                  'Search for their username',
                  'Select a role that they will have in the course (ex. <mark>Course Observer</mark> or <mark>Guest</mark>)',
                  'Select the checkbox <i class="far fa-check-square"></i> next to their name and <mark>Enroll Selected Users</mark>',
                  // '<em>Careful:</em> be sure you don&#39;t accidentally enroll a student as an instructor as they would be able to change anything you can change in your course'
                ]
              },
              // {
              //   title: "Unenroll User",
              //   image: "classlistunenroll",
              //   directionslist: [
              //     'Select the checkbox <i class="far fa-check-square"></i> next to the user(s) to unenroll',
              //     'Select <mark>Unenroll</mark> at the top of the list'
              //   ]
              // },
              // {
              //   title: "Send Messages",
              //   image: "classlistmessage",
              //   directionslist: [
              //     'Select the checkbox <i class="far fa-check-square"></i> next to the student(s) you would like to message',
              //     'Select <mark>Message</mark>'
              //   ]
              // }
            ]
          },
          {
            title: "Content",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Add Module",
                image: "contentaddmodule",
                directionslist:
                  ['Type a name in the <mark>Add a module</mark> text field (left column at the bottom)',
                    'Press the <kbd>Enter</kbd> key',
                    'Select <mark>Add a description...</mark> to add a module description',
                    'Select <mark>Add dates and restrictions...</mark> to add start dates for when the module will be available to students'
                  ]
              },
              {
                title: "Add Files",
                image: "contentaddfiles",
                directionslist: [
                  'Select a module from the Table of Contents',
                  'Select <mark>Upload / Create | Upload Files</mark>',
                  'Select the file location and then the file(s)',
                  'Select <mark>Add</mark>'
                ]
              },
              // {
              //   title: "Add Files <small>(upload to manage files)</small>",
              //   directionslist: [
              //     'Select <mark>Course Admin</mark> on the course navigation menu',
              //     '<mark>Manage Files</mark>',
              //     'Select <i class="fas fa-arrow-circle-up"></i> <mark>Upload</mark> and a pop-up window will appear',
              //     'Drag and drop files from your computer to the popup window or select the <mark>Upload</mark> button',
              //   ]
              // },
              // {
              //   title: "Add Files <small>(bulk upload to manage files)</small>",
              //   directionslist: [
              //     'Locate the files / folders on your local computer and highlight or select them ',
              //     'Create a <code>.zip</code> file (PC: Right click | <mark>Send To</mark> | <mark>Compressed (zipped) folder</mark> Mac: <kbd>CTRL</kbd>-click | <mark>Compress</mark>)',
              //     'Upload the archive / zip file (see directions above for uploading a file)',
              //     'Locate the uploaded zip file, activate the context menu <i class="fas fa-caret-down"></i> for the item, and chose the <mark>Unzip</mark> option',
              //     'Once files are unzipped, delete the original zip file',
              //   ]
              // },
              // {
              //   title: "Add Topics from existing files in your course",
              //   directionslist: [
              //     'Select a module from the Table of Contents',
              //     'Select <mark>Upload / Create</mark> | <mark>Add from Manage Files</mark>',
              //     'Select the boxes <i class="far fa-check-square"></i> to the left of the files you want to add',
              //     'Select the <mark>Add</mark> button',
              //   ]
              // },
              {
                title: "Create Topic from a new HTML file",
                image: "contentaddtopic",
                directionslist: [
                  'Select a module from the Table of Contents',
                  'Select <mark>Upload / Create</mark> |<mark>Create a File</mark>',
                  'Enter a title',
                  'Choose the <mark>Select a Document Template</mark> dropdown <i class="fas fa-caret-down"></i> and select the <mark>Simple Bootstrap</mark> template',
                  'Type or paste content in the HTML editor',
                  'Select the accessibility checker icon <i class="far fa-eye"></i> <i class="fas fa-check"></i> and fix issues',
                  '<mark>Publish</mark>',
                ]
              },
              {
                title: "Delete Modules or Topics",
                image: "contentdeletemodules",
                directionslist: [
                  'Select the module from the Table of Contents',
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to the module title',
                  'Select <mark>Delete Module</mark>',
                ]
              },
              {
                title: "Hide or Reveal Modules or Topics",
                image: "contenthide",
                directionslist: [
                  'Select a module from the Table of Contents',
                  'Select the <mark>Bulk Edit</mark> button',
                  'Select <mark>Published / Draft</mark> and select your setting',
                ]
              },
              {
                title: "Link to Existing Activity",
                image: "contentlink",
                directionslist: [
                  'Select a module from the Table of Contents',
                  'Select <mark>Existing Activities</mark>',
                  'Select the activity type',
                  'Select an existing activity or create a new one by selecting <mark>Upload / Create | Upload Files</mark>',
                ]
              },
              {
                title: "Rearrange Modules or Topics",
                image: "contentrearrange",
                directionslist: [
                  'Select the three bars <i class="fas fa-bars"></i> next to a module or topic to drag it to a new location and release',
                  'When dragging an item, hover over a module until it becomes highlighted to move the selected item inside the module',
                  'Drag topics from the main content pane to the Table of Contents to move topics between modules',
                ]
              },
              {
                title: "View Content Statistics",
                image: "contentstatistics",
                directionslist: [
                  'View content visit counts and viewing time by content or by user',
                  'Select <mark>Table of Contents</mark> from the left menu',
                  'Select the <mark>Related Tools</mark> button | <mark>View Reports</mark>'
                ]
              }
            ]
          },
          {
            title: "Course Admin and Organization",

            howtos: [
              {
                title: "Copy Course Components",
                image: "courseadmincopy",
                directionslist: [
                  'Enter the Destination course',
                  'Select <mark>Course Admin</mark> on the course navigation menu',
                  '<mark>Import / Export / Copy Components</mark>',
                  'Select the <mark>Select Course</mark> button',
                  'Select the course to copy from and select <mark>Add Selected</mark>',
                  'Select the button marked <mark>Recommended</mark> to select the items to copy',
                  'Select your items to copy',
                  '<mark>Continue</mark> after confirming your choices',
                  'Select <mark>Finish</mark> and wait for the green check marks to appear'
                ]
              },
              {
                title: "Export Course Items to a Zip File",
                image: "exportzip",
                directionslist: [
                  'Enter the course containing the items to export',
                  'Select <mark>Course Admin</mark>',
                  'Select <mark>Import / Export / Copy Components</mark>',
                  'Select <mark>Export Components to Zip File</mark>',
                  'Select <mark>Start</mark>',
                  'Select the items to export',
                  'Select <mark>Continue</mark> | <mark>Continue</mark> | <mark>Finish</mark>',
                  '<strong>Before</strong> Selecting Done, Select the link to <mark>“Download the export Zip package”</mark>'
                ]
              },
              {
                title: "Import Course Items From a Zip File",
                image: "importzip",
                directionslist: [
                  'Enter the course to import the items into',
                  'Select <mark>Course Admin</mark>',
                  'Select <mark>Import / Export / Copy Components</mark>',
                  'Select <mark>Import Components from Zip File</mark>',
                  'Select <mark>Start</mark>',
                  'Select the Upload button or drag the zip file into the frame',
                  'Select <mark>Import All Components</mark> or select <mark>Advanced Options</mark> to choose individual items to import'
                ]
              },
              // {
              //   title: 'Course Image and Banner',
              //   image: "courseadminbanner",
              //   directionslist: [
              //     'Hover over existing image',
              //     'Select the ellipsis <i class="fas fa-ellipsis-h"></i> in the corner of the image',
              //     'Select \'Change Image\'',
              //     'Choose from existing image choices (if available) or upload your own'
              //   ]
              // },
              {
                title: "Messaging",
                image: "courseadminmessaging",
                directionslist: [
                  'Send messages from the classlist, assignments, grades, mail tool, etc',
                  'Enter a course',
                  'Select the mail icon <i class="far fa-envelope"></i> on the mini navigation menu'
                ]
              },
              {
                title: "Notifications and Pulse App",
                image: "courseadminpulse",
                directionslist: [
                  'Find notification settings by selecting your name in the top-right corner of the page. Encourage your students to enroll in notifications to receive course updates in their email or mobile devices.',
                  'Using the Pulse App students can see course updates, Content, dates, announcements, and grades for all their courses. Direct students to download the app for iPhone and Android devices!',
                  '<a href = "https://www.d2l.com/products/pulse/" target = "_blank" > Download the Pulse App </a> <i class="fas fa-external-link-alt d-print-none"></i>'
                ]
              },
              // {
              //   title: "Pinning Courses",
              //   image: "courseadminpinning",
              //   directionslist: [
              //     'Select the course selection dropdown menu <i class="fas fa-th"></i> in the mini navigation bar at the top of the page',
              //     'Select the thumbtack <i class="fas fa-thumbtack"></i> next to a course title to pin it to the top of the list',
              //     'Pinned courses also appear on the organization homepage.'
              //   ]
              // },
              {
                title: "Profile",
                image: "courseadminprofile",
                directionslist: [
                  'Find profile settings by selecting your name in the top-right corner of the page',
                  'Add a profile image and encourage your students to do the same. Add further contact information, interests, and social networking connections'
                ]
              },
              // {
              //   title: "Pulse App",
              //   image: "courseadminpulse",
              //   directionslist: [
              //     'Students can see course updates, Content, dates, announcements, and grades for all their courses. Direct students to download the app for iPhone and Android devices!',
              //     '<a href = "https://www.d2l.com/products/pulse/" target = "_blank" > Download the Pulse App </a> <i class="fas fa-external-link-alt d-print-none"></i>'
              //   ]
              // }
            ]
          },
          {
            title: "Discussions",
            location: "Found on the course navigation menu",
            info: "Instructors can create forums, topics, threads, and replies. Students can create threads and replies if a topic is available.",
            howtos: [
              {
                title: "Create Forum or Topic",
                image: "discussionscreate",
                directionslist: [
                  'Select the <mark>New</mark> button',
                  'Select either <mark>New Forum</mark> or <mark>New Topic</mark>',
                  'Enter the <mark>Title</mark>, <mark>Description</mark>, and availability <mark>Start / End dates</mark>',
                  'Select the <mark>Display in Calendar</mark> <i class="far fa-check-square"></i> option',
                  'If it is a new forum then select <mark>Save and Add Topic</mark> to complete the topic setup form',
                  'On the <mark>Assessment</mark> tab for a topic select or create a <mark>New Grade Item</mark> and enter the <mark>Score out of</mark> input',
                ]
              },
              {
                title: "Grade Discussion Topic",
                image: "discussiongrade",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> of a topic select <mark>Assess Topic</mark>',
                  'Select the <mark>Topic Score</mark> link under the student’s name',
                  'Enter score(s) and feedback',
                  'Select the <mark>Published</mark> <i class="far fa-check-square"></i> option to send the score to the gradebook',
                  '<mark>Save and Close</mark>'
                ]
              }
            ]
          },
          {
            title: "Grades",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Calculating and Releasing Final Grades",
                image: "gradesrelease",
                directionslist: [
                  // 'Students cannot see the Current Grade or Adjusted Grade until you release it to them',
                  // '<strong>Grade to Release</strong>',
                  'Within the gradebook select <mark>Settings</mark> <i class="fas fa-cog"></i>',
                  'Select the <mark>Student View Display Options</mark> tab ',
                  'Select <mark>Display how final grade was calculated to users</mark> <i class="far fa-check-square"></i>',
                  'Select the <mark>Calculation Options</mark> tab',
                  'Select <mark>Automatically keep final grades updated</mark> <i class="far fa-check-square"></i>',
                  '<mark>Save</mark> and <mark>Close</mark>',
                  // '<strong>Grade Scheme and Display</strong>',
                  // 'Activate the context menu <i class="fas fa-caret-down"></i> next to the final grade item, select <mark>edit</mark>',
                  // 'Use the pulldown menu <i class="fas fa-caret-down"></i> to select desired Grade Scheme',
                  // 'Use Display Options to set what your students will see',
                  // '<mark>Save and Close</mark>',
                  // '<strong>Release</strong>',
                  'Activate the context menu next to <mark>Current Grade</mark> <i class="fas fa-caret-down"></i> select <mark>Grade All</mark>',
                  'Activate the context menu next to <mark>Final Grade</mark> <i class="fas fa-caret-down"></i> select <mark>Release All</mark>',
                  '<mark>Save and Close</mark>',
                ]
              },
              {
                title: "Create Grade Item or Category",
                image: "gradescreate",
                directionslist: [
                  'Select the <mark>Manage Grades</mark> tab',
                  'Select <mark>New</mark>',
                  'Select either <mark>Item</mark> or <mark>Category</mark> in the context menu <i class="fas fa-caret-down"></i>',
                  'Name the item or category and make property selections',
                  'Select <mark>Save</mark> or select <mark>Save and New</mark> to continue adding more items or categories',
                ]
              },
              {
                title: "Drop lowest grades in a category",
                image: "gradesdrop",
                directionslist: [
                  'Select the <mark>Manage Grades</mark> tab',
                  'Select a Category name',
                  'Select the box next to <i class="far fa-check-circle"></i> <mark>Distribute (Weight / Points) Evenly</mark>',
                  'Enter the points for each item',
                  'Enter the number of lowest items to drop ',
                  '<mark>Save and Close</mark>'
                ]
              },
              // {
              //   title: "Edit multiple grade items",
              //   directionslist: [
              //     'Select the top box <i class="far fa-check-square"></i> to select all grade items',
              //     'Select <mark>Bulk Edit</mark>',
              //     'Make changes and <mark>Save</mark>'
              //   ]
              // }, 
              {
                title: "Enter Grades by Item",
                image: "gradesenteritem",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to a grade item and select either <mark>Enter Grades</mark> or <mark>Grade All</mark>',
                  'Enter points for each student',
                  '<mark>Save</mark>'
                ]
              },
              {
                title: "Enter Grades by Student",
                image: "gradesenterstudent",
                directionslist: [
                  'Select the <mark>Enter Grades</mark> tab',
                  'Select a student’s name',
                  'Enter grades for each item for the student',
                  '<mark>Save</mark>'
                ]
              },
              {
                title: "Delete or Re-order Gradebook Items",
                image: "gradesreorder",
                directionslist: [
                  'Select the <mark>Manage Grades</mark> tab',
                  'Select the <mark>More Actions</mark> button',
                  'Select either <mark>Delete</mark> or <mark>Reorder</mark>',
                  'Select the items to delete or change the sort order using the numbered pulldown menus <i class="fas fa-caret-down"></i>',
                  '<mark>Save</mark>'
                ]
              },
              {
                title: "Extra Credit Bonus Items",
                image: "gradesbonus",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to a grade item',
                  'Select <mark>Edit Grade Item</mark>',
                  'Select the <mark>Bonus</mark> <i class="far fa-check-square"></i> option',
                  '<mark>Save and Close</mark>'
                ]
              },
              {
                title: "Show / Hide points / scheme / color",
                image: "gradesscheme",
                directionslist: [
                  'Select <mark>Settings</mark> <i class="fas fa-cog"></i>  in the top-right corner of the gradebook',
                  'On the <mark>Personal Display Options</mark> tab, Select the boxes in the Grade Details section to <mark>show points, grade scheme symbol (A, B, C), or grade scheme color</mark>',
                  'Set student view properties on the <mark>Student View Display Options</mark> tab',
                  '<em>Note</em>: Verify that the managing view and student view both display the same number of decimal points'
                ]
              }
              // ,
              // {
              //   title: "Wizard for Grades Setup",
              //   directionslist: [
              //     'Select the <mark>Setup Wizard</mark> tab',
              //     'Select <mark>Start</mark> and answer the questions to define your gradebook settings - weighted, grade scheme, display options, etc.',
              //     '<em>Note:</em> all these settings can be modified at any time by going to <mark> Settings</mark > <i class="fas fa-cog"></i> from within the gradebook.'
              //   ]
              // }
            ]
          },
          // {
          //   title: "Groups",
          //   location: "Found in <mark>Course Admin</mark> on the course navigation menu and then <mark>Groups</mark>",
          //   info: "Groups can be automatically generated, manually managed, or even self-enrolling",
          //   howtos: [
          //     {
          //       title: "Create Groups",
          //       directionslist: [
          //         'Select <mark>New Category</mark> and provide a name and description',
          //         'Select enrollment style from the menu (<mark>Groups of #</mark> or <mark># of Groups</mark>), entering the number desired',
          //         'Select the boxes <i class="far fa-check-square"></i> to add Discussions or Assignments (if needed)',
          //         '<mark>Save</mark>'
          //       ]
          //     },
          //     {
          //       title: "Edit Groups",
          //       directionslist: [
          //         'Activate the context menu <i class="fas fa-caret-down"></i> next to the group category and select <mark>Enroll Users</mark> to manage enrollments',
          //         '<mark>Save</mark>'
          //       ]
          //     }
          //   ]
          // },
          {
            title: "Quizzes",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Create Quiz",
                image: "quizzescreate",
                directionslist: [
                  'Select <mark>New Quiz</mark>',
                  'Enter <mark>Name</mark>, <mark>Category</mark>, <mark>Description</mark>, and <mark>Add / Edit Questions</mark> on the <mark>Properties</mark> tab',
                  'Set the <mark>Due Date</mark>, <mark>Start and End Dates</mark>, <mark>Display In Calendar</mark>, <mark>Time Limit</mark>, and <mark>Password</mark> on the <mark>Restrictions</mark> tab',
                  'Select or create a <mark>Grade Item</mark> to link to on the <mark>Assessment</mark> tab',
                  'Select the <mark>Auto Export to Grades</mark> and <mark>Automatic Grade</mark> <i class="far fa-check-square"></i> options if desired',
                  'Set the number of attempts allowed',
                  'Setup student view of results on the <mark>Submission Views</mark> tab'
                ]
              },
              {
                title: "Grade Quiz",
                image: "quizzesgrade",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to the quiz name select the <mark>Grade</mark> option',
                  'Select the <mark>Attempt</mark> under the student’s name',
                  'Scroll down to view/grade answers and give feedback for the student'
                ]
              },
              // {
              //   title: "Quick Edit Multiple Quizzes",
              //   directionslist: [
              //     'Select the checkboxes <i class="far fa-check-square"></i> next to quizzes or the select box <i class="far fa-check-square"></i> at the top or bottom of the list to select all',
              //     'Select the <mark>Bulk Edit</mark>',
              //     'Make changes to name, category, active status, or attempt number',
              //     '<mark>Save</mark>'
              //   ]
              // },

              {
                title: "Publish / Republish to Gradebook",
                image: "quizzespublish",
                directionslist: [
                  'Verify that the quiz is associated with a grade item.  See <a href="#createaquiz">Create a Quiz</a>',
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to the quiz name',
                  'Select <mark>Grade</mark>',
                  'Change the attempts per page to 200 in the bottom-right corner',
                  'Select the <mark>Published</mark> icon in the table header to deselect all the published attempt <i class="far fa-square"></i> checkboxes below',
                  'Select <mark>Save</mark>',
                  'Select the <mark>Published</mark> icon in the table header again to select all the published attempt checkboxes <i class="far fa-check-square"></i> below',
                  '<mark>Save and Close</mark>'
                ]
              },
              //  {
              //   title: "Questions - Add and Edit",
              //   directionslist: [
              //     'Activate the context menu <i class="fas fa-caret-down"></i> next to the quiz title',
              //     'Select <mark>Edit</mark>',
              //     'Select the <mark>Add/Edit Questions</mark> button found under the <mark>Properties</mark> tab',
              //     'Select the <mark>New</mark> button to add questions',
              //     'When finished, select <mark>Done Editing Questions</mark>'
              //   ]
              // },
              {
                title: "Randomize Questions",
                image: "quizzesrandomize",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to the quiz name',
                  'Select <mark>Edit</mark>',
                  'Select the <mark>shuffle order of questions</mark> <i class="far fa-check-square"></i> option on the <mark>Properties</mark> tab',
                  '<mark>Save and Close</mark>'
                ]
              },
              {
                title: "Reset Quiz Attempt",
                image: "quizzesreset",
                directionslist: [
                  'Activate the context menu <i class="fas fa-caret-down"></i> next to the quiz name',
                  'Select <mark>Grade</mark>',
                  'Select the <mark>Display Options</mark> button and select <mark>Allow Reset</mark> (if necessary)',
                  'Select the box <i class="far fa-check-square"></i> next to the student’s attempt',
                  'Select the trashcan icon <i class="fas fa-trash"></i> at the top of the listing',
                  'Select <mark>OK</mark>'
                ]
              },
              {
                title: "Special Access and Extended Time",
                image: "quizzesspecialaccess",
                directionslist: [
                  'Select the Quiz name',
                  'Select the <mark>Restrictions</mark> tab',
                  'Select the <mark>Add Users to Special Access</mark> button',
                  'Make choices and settings for individuals or groups',
                  'Select the <mark>Add Special Access</mark>'
                ]
              }
            ]
          },
          {
            title: "Support",
            info: 'From the Course Homepage in any course you can select the <mark>Help</mark> tab at the bottom of the screen to ask any questions you might have about your course or about D2L in general.',
            howtos: [
            {
                title: "More Documentation",
                directionslist: [
                  'A place for \'How Tos\' in D2L Brightspace and Accessibility: <a target="_blank" href="http://sites.pstcc.edu/elearn">ETS eLearn Documentation Site</a> <i class="fas fa-external-link-alt d-print-none"></i>',
                  'Access the D2L Brightspace official <a href="https://documentation.brightspace.com" target="_blank">documentation here</a> <i class="fas fa-external-link-alt d-print-none"></i>'
                ]
              },
              // {
              //   title: "eLearn Documentation Site at ETS",
              //   directionslist: [
              //     'A place for \'How Tos\' in D2L Brightspace and Accessibility: <a target="_blank" href="http://sites.pstcc.edu/elearn">ETS eLearn Documentation Site</a> <i class="fas fa-external-link-alt d-print-none"></i>'
              //   ]
              // },
              // {
              //   title: "Official Brightspace Documentation",
              //   directionslist: [
              //     'Access the D2L Brightspace official <a href="https://documentation.brightspace.com" target="_blank">documentation here</a> <i class="fas fa-external-link-alt d-print-none"></i>'
              //   ]
              // }
            ]
          }
        ]
      },
      methods: {
        addTag: function (x) {

          let re = /(\s|<.*>|\(|\)|\|)/g;
          let temp = x.replace(re, '');
          return temp.toLowerCase();
        },
        copylink: function (toolid) {
          let newURL = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname + window.location.search;
          let gurl = 'https://goo.gl/Qy8dfB'
          let tagid = this.addTag(toolid);
          // this.urlCopy = newURL + "#" + tagid;
          this.urlCopy = gurl + "#" + tagid;

          let testingCodeToCopy = document.getElementById("urlcopy");
          testingCodeToCopy.setAttribute('type', 'text')
          testingCodeToCopy.value = this.urlCopy;
          testingCodeToCopy.select()

          try {
            let successful = document.execCommand('copy');
            let msg = successful ? 'successfully' : 'unsuccessfully';
            alert('URL to this location was copied ' + msg);
          } catch (err) {
            alert('Oops, unable to copy');
          }

          /* unselect the range */
          testingCodeToCopy.setAttribute('type', 'hidden')
          window.getSelection().removeAllRanges()

        },
        sort_by: function (field, reverse, primer) {
          var key = primer ?
            function (x) { return primer(x[field]) } :
            function (x) { return x[field] };

          reverse = !reverse ? 1 : -1;

          return function (a, b) {
            return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
          }
        }
      },
      computed: {
        sortTitles: function () {
          let tempsort = this.tools.sort(this.sort_by('title', false, function (a) { return a.toUpperCase() }));



          return tempsort;
        }
      }
    });


  </script>
</body>

</html>