<!DOCTYPE html>
<html lang="en">
<!-- cSpell:ignore directionslist, Brightspace, Pellissippi, body, directionshtml, quickmarks, checkmarks, Turnitin, howto, unenroll, howtos, classlist, crossorigin, gradebook -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="20">
  <title>D2L Quick Reference</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <!-- TODO remove spaces from ids for headings -->
  <style>
    a:link,
    a:visited {
      text-decoration: none;
      color: inherit;
    }

    a:active,
    a:hover {
      text-decoration: underline;
    }

li li:hover {
      border-right: 2px solid black;
  
}

    blockquote {
      border-left: 5px solid #f0f0f0;
      padding-left: 1.5rem;
    }

    @media screen and (min-width: 768px) {}

    @media (min-width: 979px) {}

    @media (max-width: 1000px) {}

    @media print {
      h1 {
        font-size: 1.3rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1rem;
      }
      h4 {
        font-size: 0.9rem;
      }
      blockquote {
        border: none;
      }
      body {
        font-size: 0.8rem;
      }
      mark,
      kbd {
        color: inherit;
        background-color: #f0f0f0;
        /* text-decoration: underline; */
        font-weight: bold;
      }
      .directions a[href]:after {
        content: " (" attr(href) ") ";
      }
      .fa-external-link {
        display: none;
      }
      ::first-letter {
        margin: 0;
        padding: 0;
      }
      /* .main-content {
                height: 100%;
            } */
      ul {
        page-break-inside: avoid;
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="masthead">
      <div class="container">
        <h1>{{title}}
          <small>({{year}})</small>
          <p class="lead">
            <a v-bind:href="subtitle.url">{{subtitle.text}}</a>
          </p>
        </h1>
        <!-- <p>{{address}}</p> -->
        <hr> </div>
      <!--/container-->
    </div>
    <!--/masthead-->
    <!--main-->
    <div class="container">
      <div class="row">
        <!--left-->
        <div class="col-md-3 hidden-print" id="leftCol">
          <ul class="nav flex-column" id="nav">
            <li class="nav-item" v-for="tool in sortTitles">
              <a v-bind:href="'#'+addTag(tool.title)">{{tool.title}}</a>
              <ul class="hidden-md-down hidden-print">
                <small>
                  <li v-if="tool.howtos" v-for="howto in tool.howtos">
                    <a v-bind:href="'#'+addTag(howto.title)" v-html="howto.title"></a>
                  </li>
                </small>
              </ul>
            </li>
          </ul>
        </div>
        <!--/left return this.tools.sort(this.sort_by('title', false, function (a) { return a.toUpperCase() }));-->
        <!--right-->
        <div class="col-md-9 main-content">
          <div class="tool" v-for="tool in sortTitles">
            <h2 v-bind:id="addTag(tool.title)">
              <a title="go to top" href="#">{{tool.title}}</a>
            </h2>
            <blockquote v-if="tool.location" v-html="tool.location"></blockquote>
            <p v-if="tool.info">
              <span v-html="tool.info"></span>
            </p>
            <div v-if="tool.howtos" v-for="howto in tool.howtos" class="howto">
              <a title="go to top" href="#">
                <h3 v-if="howto.title" v-bind:id="addTag(howto.title)" v-html="howto.title"></h3>
              </a>
              <!-- <div v-if="howto.directionshtml" class="directions" v-html="howto.directionshtml"></div> -->
              <div v-if="howto.directionslist" class="directions">
                <ul>
                  <li v-for="direction in howto.directionslist" v-html="direction"> </li>
                </ul>
              </div>
            </div>
            <!--/howto-->
            <hr> </div>
          <!--/tool-->
          <p>{{address}}</p>
        </div>
        <!--/right-->
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!-- end of app -->
  <script>


    var app = new Vue({
      el: "#app",
      data: {
        title: "Brightspace D2L Quick Reference - Student",
        year: "2018",
        address: "https://blogs.pstcc.edu/elearn/d2l-reference/",
        subtitle: {
          text: "Pellissippi State Community College",
          url: "http://www.pstcc.edu/"
        },
        tools: [
          {
            title: 'Announcements',
            location: "Found on the course homepage",
            info:
              "Subscribe or read instructor messages, course information, announcements, and updates.",
            howtos: [
              {
                title: "Dismiss an Announcement",
                directionslist: [
                  `Select the <mark>X</mark> next to an announcement
                                heading to dismiss an announcement from your view only.`
                ]
              },
              {
                title: "Subscribe to Announcements",
                directionslist: [
                  "Receive announcements through texts, phone notifications or by email. See Pulse App and Notifications."
                ]
              }
            ]
          },
          {
            title: "Assignments",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Confirm Assignment Submission",
                directionslist: [
                  "Every successful assignment submission will result in an automatic course message.",
                  'While in the course, select the mail <i class="fa fa-envelope" aria-hidden="true"></i> icon from the top navigation menu',
                  "Select the mail message with the subject 'Assignment Submission Receipt'"
                ]
              },
              {
                title: "Submit File(s)",
                directionslist: [
                  "Select the title of the assignment folder",
                  "Review instructor directions or rubric",
                  "Select <mark>Add a File | Upload</mark>",
                  "Select the file or multiple files (if enabled by the instructor)",
                  "Select <mark>Add | Submit</mark>",
                  "Note: depending on the instructor's assignment settings, when another file is uploaded it may replace the previous file or it might add the new another file.",
                  "Supported file types: text documents (doc, docx, pdf, ppt)(not Apple iWork files), images (jpg, png, gif), media (mpeg, mp3, mp4, mov), web documents (htm, html)"
                ]
              },
              {
                title: "View Feedback",
                directionslist: [
                  'Select <i class="fa fa- comment - o" aria-hidden="true"></i> <mark>View</mark> which appears next to the title of the assignment folder in the \'Feedback\' column',
                  "Review instructor feedback or download the attached feedback files the instructor has included"
                ]
              },
              {
                title:
                  'View Feedback Turnitin<i class="fa fa- registered" aria-hidden="true"></i> | <small>Originality Check</small>',
                directionslist: [
                  'If the instructor is using Turnitin<i class="fa fa-registered" aria-hidden="true"></i> then the feedback may be in \'Feedback Studio\'',
                  'Select <i class="fa fa-comment-o" aria- hidden="true" ></i > <mark>View</mark> in the \'Feedback\' column next to the title of the assignment folder ',
                  'Select either the Turnitin<i class="fa fa-registered" aria-hidden="true"></i> similarity number or select the Turnitin<i class="fa fa-registered" aria-hidden="true"></i> Grademark<i class="fa fa-registered" aria-hidden="true"></i> <i class="fa fa-check-square-o" aria-hidden="true"></i> icon'
                ]
              },
              {
                title: "View Submission(s)",
                directionslist: [
                  "Select the number in the 'Submissions' column next to the title of the assignment folder",
                  "Select the file(s) to download"
                ]
              }
            ]
          },
          {
            title: "Calendar",
            location:
              "Found on the course navigation menu, course homepage, and the organization homepage. ",
            info:
              "Course items, quizzes, assignments, etc. that the instructor has given dates to will automatically appear on the course calendar.",
            howtos: [
              {
                title: "Create a Task",
                directionslist: [
                  "Select <mark>Add a task...</mark>",
                  "Type the task"
                ]
              },
              {
                title: "Subscribe to the Calendar",
                directionslist: [
                  "Receive event reminders through texts, phone notifications or by email. See Pulse App and Notifications."
                ]
              }
            ]
          },
          {
            title: "Class Progress",
            location: "Found on the course navigation menu",
            info: `Access reports and details on progress through the course. This includes: 
            grades, objectives, content, discussions, assignment submission folder, quizzes, checklist, surveys, and login statistics.`,
            howtos: [
              {
                title: "Save or Print Progress Record",
                directionslist: [
                  'Select <i class="fa fa-print" aria-hidden="true"></i><mark>Print</mark> in the right-corner of the progress page',
                  'Select <i class="fa fa-cog" aria-hidden="true"></i> <mark>Settings</mark> in the right-corner of the progress page',
                  "Select the progress components or details to display",
                  "<mark>Save and Close</mark>",
                  "Select the <mark>Print</mark> button at the bottom and choose the printer or export to PDF"
                ]
              }
            ]
          },
          {
            title: "Classlist",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Send Messages",
                directionslist: [
                  `Select the checkbox <i class="fa fa-check-square-o" aria-hidden="true"></i> next
                        to the student(s) or instructor to message</li><li>Select <mark>Message</mark>`
                ]
              },
              {
                title: "View Profiles",
                directionslist: [
                  `Select the image or image placeholder next to the student or instructor`
                ]
              }
            ]
          },
          {
            title: "Content",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Bookmark Topics",
                directionslist: [
                  "Select a topic",
                  'Select the bookmark <i class="fa fa-bookmark-o" aria-hidden="true"></i> icon',
                  'Review marked topics from the table of contents by selecting <i class="fa fa-bookmark" aria-hidden="true"></i> <mark>Bookmarks</mark> from the left navigation menu'
                ]
              },
              {
                title: "Course Overview",
                directionslist: [
                  `Select <mark>Overview</mark> from the left navigation menu`
                ]
              },
              {
                title: "Course Schedule",
                directionslist: [
                  `Select <mark>Course Schedule</mark> from the left navigation menu`
                ]
              },
              {
                title: "Download Topic(s) | Module(s)",
                directionslist: [
                  "While viewing a topic, select the <mark>Download</mark> button to download that topic",
                  "While viewing a list of topics in a module, select the <mark>Download</mark> button to download all topics in that module"
                ]
              },
              {
                title: "Track Progress",
                directionslist: [
                  "If enabled by the instructor, number counts will appear next to modules in the table of contents as well as a progress bar at the top of each module",
                  "These numbers indicate topics that have not yet been viewed"
                ]
              },
              {
                title: "Print Topic",
                directionslist: [
                  "Select the topic",
                  "Select the <mark>Download</mark> button to download that topic"
                ]
              },
              {
                title: "Search for Topics",
                directionslist: [
                  "Enter search criteria in the textbox at the top of the left navigation menu",
                  "This searches topic titles and descriptions but not the content within the topic"
                ]
              }
            ]
          },
          {
            title: "Course Admin and Organization",

            howtos: [
              {
                title: "Access Messages",
                directionslist: [
                  "Enter a course",
                  'Select the mail icon <i class="fa fa-envelope" aria-hidden="true"></i> on the top navigation menu'
                ]
              },
              {
                title: "Send Messages",
                directionslist: ["See classlist messaging"]
              },
              {
                title: "Notifications",
                directionslist: [
                  "Find notification settings by selecting your name in the top-right corner of the page",
                  "Enroll in notifications to receive course updates in email or mobile devices",
                  "See also, the Pulse App"
                ]
              },
              {
                title: "Pin | Unpin Courses",
                directionslist: [
                  "Current courses should automatically appear on the main homepage upon first logging in, but if they do not:",
                  "Select <mark>View All Courses</mark>",
                  'Hover over the course image and select the option <i class="fa fa-ellipsis-h" aria-hidden="true"></i> ellipsis',
                  "Select <mark>Pin</mark> or <mark>Unpin</mark>"
                ]
              },
              {
                title: "Profile",
                directionslist: [
                  "Select your name in the top-right corner of the page",
                  "Add a profile image or further contact information, interests, and social networking connections"
                ]
              },
              {
                title: "Pulse App",
                directionslist: [
                  "View course updates, content, dates, announcements, and grades for all courses",
                  `Download the app for iPhone and Android devices!
                        <a class= "ext" href="https://www.d2l.com/products/pulse/" target="_blank">Download the Pulse App </a><i class="fa fa-external-link" aria-hidden="true"></i></p>`
                ]
              }
            ]
          },
          {
            title: "Discussions",
            location: "Found on the course navigation menu",
            info:
              "Instructors can create forums, topics, threads, and replies. Students can create threads and replies if a topic is available.",
            howtos: [
              {
                title: "Create Thread | Reply",
                directionslist: [
                  "Access the forum topic or thread",
                  "Select the <mark>Start a New Thread</mark> button or the <mark>Reply to Thread</mark> button",
                  "Enter a subject and desired content: text, images, media, video, tables, attachments, etc.",
                  "Note: some instructors require that a thread be created before thread replies are enabled in a topic"
                ]
              },
              {
                title: "Change Discussions Settings",
                directionslist: [
                  'Select <i class="fa fa-cog" aria-hidden="true"></i> <mark>Settings</mark> in the top-right of the discussions',
                  "Select the desired view and display settings",
                  "<mark>Save</mark>"
                ]
              },
              {
                title: "Subscribe to Discussions",
                directionslist: [
                  "Receive updates through texts, phone notifications or by email. See Pulse App and Notifications"
                ]
              }
            ]
          },
          {
            title: "Grades",
            location: "Found on the course navigation menu",
            howtos: [
              {
                title: "Print Grade Results",
                directionslist: [
                  'Select <i class="fa fa-print" aria-hidden="true"></i><mark>Print</mark> in the right-corner of the grades page',
                  "Choose the printer or export to PDF"
                ]
              },
              {
                title: "View Final Grade",
                directionslist: [
                  "Final grades or current running grade will be totaled and visible at the top of the page above the grade items",
                  "This grade is only visible when the instructor releases it.  If it is not visible then contact the instructor",
                  "Further grade information is also available in <mark>Class Progress</mark> on the navigation menu. See Class Progress"
                ]
              },
              {
                title: "View Grade Feedback",
                directionslist: [
                  "If an instructor has included a feedback comment with the grade item then it will appear in the 'Feedback' column on the grades page",
                  "Rubrics, grade averages, and distribution statistics will appear as an icon next to the grade item title if the instructor has made them available"
                ]
              }
            ]
          },
          {
            title: "Groups",
            location:
              "Found in the 'Additional Course Tools' widget on the course homepage",
            // info: "If an instructor is using groups can be automatically generated, manually managed, or even self-enrolling.",
            howtos: [
              {
                title: "Enroll in a Group",
                directionslist: [
                  "If an instructor has enabled self-enrolling groups then:",
                  "Select the <mark>View Available Groups</mark> button",
                  "Select a group to join",
                  "Note: students cannot change or remove themselves from a group. Contact the instructor."
                ]
              },
              {
                title: "View Group Enrollment(s)",
                directionslist: [
                  "If an instructor is using groups then verify group enrollment by select the number in the 'Members' column next to the group or group category",
                  "View other group enrollments from the 'Classlist' by using the 'View By' Groups dropdown menu at the top of the student list"
                ]
              },
              {
                title: "Message Group Members",
                directionslist: [
                  "The instructor may have set up discussion topics for a group to communicate. See Discussions",
                  'Alternatively, select the <i class="fa fa-envelope" aria-hidden="true"></i>'
                ]
              }
            ]
          },
          {
            title: "Quizzes",
            location: "Found on the course navigation menu",
            info: 'The list of quizzes will display start and end dates or an \'Always Available\' message will appear with the quiz title. If',
            howtos: [
              {
                title: "Take a Quiz",
                directionslist: [
                  'Select the title of the quiz',
                  'Review the quiz description, time allowed, attempts allows',
                  'Alternatively, an \'Always Available\' message will appear with the quiz title'
                ]
              },
              {
                title: "View Quiz Availability",
                directionslist: [
                  'The list of quizzes will display with start and end dates of availability if enabled by the instructor',
                  'Alternatively, an \'Always Available\' message will appear with the quiz title'
                ]
              }
            ]
          },
          {
            title: 'Support',
            info: `<p>From the Course Homepage in any course you can select the
                        <mark>D2L Help</mark> tab at the bottom right of the screen to ask any questions you might have about your
                        course or about D2L in general.</p>
    `,
            howtos: [
              {
                title: "eLearn Documentation Site at ETS",
                directionslist: [` <p>A place for 'How Tos' in D2L and Accessibility.
                        <a target="_blank" href="http://blogs.pstcc.edu/elearn/d2l/">ETS eLearn Documentation Site</a> <i class="fa fa-external-link" aria-hidden="true"></i></p>
    `]
              },
              {
                title: "Official Brightspace Documentation",
                directionslist: [`   <p>Select
                        <mark>Resources</mark> |
                        <mark>D2L Documentation</mark> at the top course selection screen when you first login. Or access <a href="https://documentation.brightspace.com" target="_blank">the documentation here</a> <i class="fa fa-external-link" aria-hidden="true"></i></p>`]
              }
            ]
          }
        ]
      },
      methods: {
        addTag: function (x) {

          let re = /(\s|<.*>|\(|\)|\|)/g;
          let temp = x.replace(re, '');
          return temp.toLowerCase();
        },
        sort_by: function (field, reverse, primer) {
          var key = primer ?
            function (x) { return primer(x[field]) } :
            function (x) { return x[field] };

          reverse = !reverse ? 1 : -1;

          return function (a, b) {
            return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
          }
        }
      },
      computed: {
        sortTitles: function () {
          let tempsort = this.tools.sort(this.sort_by('title', false, function (a) { return a.toUpperCase() }));



          return tempsort;
        }
      }
    });
  </script> </body>

</html>