<!DOCTYPE html>
<html lang="en">
<!-- cSpell:ignore docx, directionslist, Brightspace, Pellissippi, body, directionshtml, quickmarks, checkmarks, Turnitin, howto, unenroll, howtos, classlist, crossorigin, gradebook -->

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82226352-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-82226352-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student - D2L Brightspace Reference</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="reference.d2l.css"> </head>

<body>
  <div id="app">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <span class="navbar-brand col-sm-6 col-md-6 mr-0 anchor" href="##">{{title}}</span>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 col-lg-3 col-xl-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" v-for="(tool, toolindex) in sortTitles">
                <a class="nav-link" v-bind:href="'#'+addTag(tool.title)">{{toolindex+1}}. {{tool.title}}</a>
                <ol class="hidden-md-down hidden-print">
                  <li v-if="tool.howtos" v-for="(howto, howtoindex) in tool.howtos">
                    <a class="nav-link" v-bind:href="'#'+addTag(howto.title)" v-html="howto.title"></a>
                  </li>
                </ol>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 col-xl-10 pt-3 px-4">
          <h1>{{title}}
            <small>({{year}})</small>
            <p class="lead">
              <a v-bind:href="subtitle.url">{{subtitle.text}}</a>
            </p>
          </h1>
          <div class="tool" v-for="(tool, toolindex) in sortTitles">
            <hr>
            <h2 v-bind:id="addTag(tool.title)" role="heading">
              <small>{{(toolindex+1) +'. '}}</small>
              <span v-html="tool.title"></span>
            </h2>
            <blockquote v-if="tool.location" v-html="tool.location"></blockquote>
            <p v-if="tool.info">
              <span v-html="tool.info"></span>
            </p>
            <div v-if="tool.howtos" v-for="(howto, howtoindex) in tool.howtos" class="howto">
              <h3 v-if="howto.title" v-bind:id="addTag(howto.title)" role="heading">
                <small>{{(toolindex+1) +'.'+ (howtoindex+1) +' '}}</small>
                <span v-html="howto.title"></span>
                <span v-if="howto.video">
                  <button aria-hidden="true" title="Watch a short video clip (without sound) of the steps that follow" type="button" class="btn btn-primary btn-sm video-btn d-print-none"
                    data-toggle="modal" v-bind:data-src="howto.video" data-target="#myModal">
                    <i class="fas fa-video"></i> Watch How</button>
                </span>
              </h3>
              <directions :directions="howto.directionslist"></directions>
            </div>
          </div>
          <!--/tool-->
          <p class="text-center">This document: {{address}}</p>
        </main>
        <!-- end of row -->
      </div>
      <!-- end of fluid container -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"></iframe>
              
            </div>
            <small><p class="text-center">[Video Contains No Audio]</p></small>
          </div>
        </div>
      </div>
      <!-- end of modal -->
    </div>
  </div>
  <!-- end of app -->
  <script>

    Vue.component('directions', {
      props: ['directions'],
      template: '<ul v-if="directions" class="directions"><li v-for="direction in directions" v-html="direction"></li></ul>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        title: 'D2L Brightspace Quick Reference - Student',
        year: '2018',
        images: true,
        address: 'https://goo.gl/sEFzo4',
        subtitle: {
          text: 'Pellissippi State Community College',
          url: 'http://elearn.pstcc.edu/'
        },
        tools: [
          {
            title: 'Announcements',
            location: 'Found on the course homepage',
            info:
              'Subscribe or read instructor messages, course information, announcements, and updates.',
            howtos: [
              {
                title: 'Dismiss an Announcement',
                video: 'https://www.youtube.com/embed/oRydWq2kOEM',
                directionslist: [
                  'Select the <mark>X</mark> next to an announcement heading to dismiss an announcement from your view only'
                ]
              },
              {
                title: 'Subscribe to Announcements',
                directionslist: [
                  'Receive announcements through texts, phone notifications or by email. See <a class="anchor" href="#pulseapp">Pulse App</a> and <a class="anchor" href="#notifications">Notifications</a>.'
                ]
              }
            ]
          },
          {
            title: 'Assignments',
            location: 'Found on the course navigation menu',
            howtos: [
              {
                title: 'Confirm Assignment Submission',
                video: 'https://www.youtube.com/embed/F5ysu7BJiWw',
                directionslist: [
                  'Every successful assignment submission will result in an automatic course message',
                  'While in the course, select the mail <i class="far fa-envelope"></i> icon from the top navigation menu',
                  'Select the mail message with the subject \'Assignment Submission Receipt\''
                ]
              },
              {
                title: 'Submit File(s)',
                video: 'https://www.youtube.com/embed/XZrOy7Z50uA',
                directionslist: [
                  'Select the title of the assignment folder',
                  'Review instructor directions or rubric',
                  'Select <mark>Add a File | Upload</mark>',
                  'Select the file or multiple files (if enabled by the instructor)',
                  'Select <mark>Add | Submit</mark>',
                  'Note: depending on the instructor\'s assignment settings, when another file is uploaded it may replace the previous file or it might add the new uploaded file',
                  'Supported file types: text documents (doc, docx, pdf, ppt)(not Apple iWork files), images (jpg, png, gif), media (mpeg, mp3, mp4, mov), web documents (htm, html)'
                ]
              },
              {
                title: 'View Feedback',
                video: 'https://www.youtube.com/embed/mkvbfsYjKoA',
                directionslist: [
                  'Select <i class="far fa-comment - o"></i> <mark>View</mark> which appears next to the title of the assignment folder in the \'Feedback\' column',
                  'Review instructor feedback or download the attached feedback files the instructor has included'
                ]
              },
              {
                title:
                  'View Feedback Turnitin<i class="far fa-registered"></i> | <small>Originality Check</small>',
                  video: 'https://www.youtube.com/embed/NljZF7Gfx_Q',	
                directionslist: [
                  'If the instructor is using Turnitin<i class="far fa-registered"></i> then the feedback may be in \'Feedback Studio\'',
                  'Select <i class="far fa-comment-o" aria- hidden="true" ></i > <mark>View</mark> in the \'Feedback\' column next to the title of the assignment folder ',
                  'Select either the Turnitin<i class="far fa-registered"></i> similarity percentage number or select the Turnitin<i class="far fa-registered"></i> Grademark<i class="far fa-registered"></i> icon <i class="far fa-check-square"></i>'
                ]
              },
              {
                title: 'View Submission(s)',
                video: 'https://www.youtube.com/embed/Gag4ot0vCRg',
                directionslist: [
                  'Select the number in the \'Submissions\' column next to the title of the assignment folder',
                  'Select the file(s) to download'
                ]
              }
            ]
          },
          {
            title: 'Attendance',
            location: 'Found on the course homepage in the \'Additional Course Tools\' widget',
            howtos: [
              {
                title: 'View Class Attendance',
                video: 'https://www.youtube.com/embed/ei9LZ8Rjy0Q',
                directionslist: [
                  'Select the attendance register from the \'Register Name\' column',
                  'Review class sessions and \'Attendance Status\'',
                  'Note: if the \'Additional Course Tools\' widget cannot be found then please contact the instructor'
                ]
              }
            ]
          },
          {
            title: 'Calendar',
            location:
              'Found on the course navigation menu, course homepage, and the organization homepage. ',
            info:
              'Course items, quizzes, assignments, etc. that the instructor has given dates to will automatically appear on the course calendar. If there are no calendar items visible then please contact the instructor.',
            howtos: [
              {
                title: 'Create a Task',
                video: 'https://www.youtube.com/embed/Y6p2rGGSMJE',
                directionslist: [
                  'Select <mark>Add a task...</mark>',
                  'Type the task'
                ]
              },
              {
                title: 'Subscribe to the Calendar',
                directionslist: [
                  'Receive event reminders through texts, phone notifications or by email. See <a class="anchor" href="#pulseapp">Pulse App</a> and <a class="anchor" href="#notifications">Notifications</a>.'
                ]
              }
            ]
          },
          {
            title: 'Class Progress',
            location: 'Found on the course navigation menu',
            info: 'Access reports and details on progress through the course. This includes: grades, objectives, content, discussions, assignment submission folder, quizzes, checklist, surveys, and login statistics.',
            howtos: [
              {
                title: 'Save or Print Progress Record',
                video: 'https://www.youtube.com/embed/BdxsIOown8I',
                directionslist: [
                  'Select <i class="fas fa-print"></i><mark>Print</mark> in the right-corner of the progress page',
                  'Select <i class="fas fa-cog"></i> <mark>Settings</mark> in the right-corner of the progress page',
                  'Select the progress components or details to display',
                  '<mark>Save and Close</mark>',
                  'Select the <mark>Print</mark> button at the bottom and choose the printer or export to PDF'
                ]
              }
            ]
          },
          {
            title: 'Classlist',
            location: 'Found on the course navigation menu',
            howtos: [
              {
                title: 'Send Messages',
                video: 'https://www.youtube.com/embed/Ym8ShEPmjOI',
                directionslist: [
                  'Select the checkbox <i class="far fa-check-square"></i> next to the student(s) or instructor to message</li><li>Select <mark>Message</mark>'
                ]
              },
              {
                title: 'View Profiles',
                video: 'https://www.youtube.com/embed/7lEtL4CxrtA',
                directionslist: [
                  'Select the image or image placeholder next to the student or instructor'
                ]
              }
            ]
          },
          {
            title: 'Content',
            location: 'Found on the course navigation menu',
            howtos: [
              {
                title: 'Bookmark Topics',
                video: 'https://www.youtube.com/embed/FWq35GbNNmo',
                directionslist: [
                  'Select a topic',
                  'Select the bookmark <i class="far fa-bookmark"></i> icon',
                  'Review marked topics from the table of contents by selecting <i class="far fa-bookmark"></i> <mark>Bookmarks</mark> from the left navigation menu'
                ]
              },
              {
                title: 'Course Overview',
                video: 'https://www.youtube.com/embed/WCPBdFwyC_U',
                directionslist: [
                  'Select <mark>Overview</mark> from the left navigation menu'
                ]
              },
              {
                title: 'Course Schedule',
                video : 'https://www.youtube.com/embed/cgHKFcZ4NO0',
                directionslist: [
                  'Select <mark>Course Schedule</mark> from the left navigation menu'
                ]
              },
              {
                title: 'Download Topic(s) | Module(s)',
                video: 'https://www.youtube.com/embed/NhV-QPHbxUM',
                directionslist: [
                  'While viewing a topic, select the <mark>Download</mark> button to download that topic',
                  'While viewing a list of topics in a module, select the <mark>Download</mark> button to download all topics in that module'
                ]
              },
              {
                title: 'Track Progress',
                video: 'https://www.youtube.com/embed/Jb0E52rGmkg',
                directionslist: [
                  'If enabled by the instructor, number counts will appear next to modules in the table of contents as well as a progress bar at the top of each module',
                  'These numbers indicate topics that have not yet been viewed'
                ]
              },
              {
                title: 'Print Topic',
                video: 'https://www.youtube.com/embed/hi5LF2gIQZ0',
                directionslist: [
                  'Select the topic',
                  'Select the <mark>Print</mark> button'
                ]
              },
              {
                title: 'Search for Topic(s)',
                video: 'https://www.youtube.com/embed/JeBV0O4Z4MM',
                directionslist: [
                  'Enter search criteria in the textbox at the top of the left navigation menu',
                  'This searches topic titles and descriptions but not the content within the topic'
                ]
              }
            ]
          },
          {
            title: 'Course Admin and Organization',

            howtos: [
              {
                title: 'Access Messages',
                video: 'https://www.youtube.com/embed/5tnU-UVoTGQ',
                directionslist: [
                  'Enter a course',
                  'Select the mail icon <i class="far fa-envelope"></i> on the top navigation menu'
                ]
              },
              {
                title: 'Send Messages',
                directionslist: ['See classlist <a class="anchor" href="#sendmessages">Send Messages</a>']
              },
              {
                title: 'Notifications',
                video: 'https://www.youtube.com/embed/Q1wSED1hw5Y',
                directionslist: [
                  'Find notification settings by selecting your name in the top-right corner of the page',
                  'Enroll in notifications to receive course updates in email or mobile devices',
                  'See also, the <a class="anchor" href="#pulseapp">Pulse App</a>'
                ]
              },
              {
                title: 'Pin | Unpin Courses',
                video: 'https://www.youtube.com/embed/CCt7dxqENeU',
                directionslist: [
                  'Current courses should automatically appear on the main homepage upon first logging in, but if they do not:',
                  'Select <mark>View All Courses</mark>',
                  'Hover over the course image and select the option <i class="fas fa-ellipsis-h"></i> ellipsis',
                  'Select <mark>Pin</mark> or <mark>Unpin</mark>'
                ]
              },
              {
                title: 'Profile',
                video: 'https://www.youtube.com/embed/c5swcXjLVcU',
                directionslist: [
                  'Select your name in the top-right corner of the page',
                  'Add a profile image or further contact information, interests, and social networking connections'
                ]
              },
              {
                title: 'Pulse App',
                video: 'https://www.youtube.com/embed/WK7YNV44JAI',
                directionslist: [
                  'View course updates, content, dates, announcements, and grades for all courses',
                  'Download the app for iPhone and Android devices! <a class= "ext" href="https://www.d2l.com/products/pulse/" target="_blank">Download the Pulse App </a><i class="fas fa-external-link-alt"></i></p>'
                ]
              }
            ]
          },
          {
            title: 'Discussions',
            location: 'Found on the course navigation menu',
            info:
              'Instructors can create forums, topics, threads, and replies. Students can create threads and replies if a topic is available.',
            howtos: [
              {
                title: 'Create Thread | Reply',
                video: 'https://www.youtube.com/embed/4ZxAaTfC33E',
                directionslist: [
                  'Access the forum topic or thread',
                  'Select the <mark>Start a New Thread</mark> button or the <mark>Reply to Thread</mark> button',
                  'Enter a subject and desired content: text, images, media, video, tables, attachments, etc',
                  'Note: some instructors require that a thread be created before thread replies are enabled in a topic'
                ]
              },
              {
                title: 'Change Discussions Settings',
                video: 'https://www.youtube.com/embed/4WwLhSdkSZY',
                directionslist: [
                  'Select <i class="fas fa-cog"></i> <mark>Settings</mark> in the top-right of the discussions',
                  'Select the desired view and display settings',
                  '<mark>Save</mark>'
                ]
              },
              {
                title: 'Subscribe to Discussions',
                video: 'https://www.youtube.com/embed/rbf0ouEF4Us',
                directionslist: [
                  'Receive updates through texts, phone notifications or by email. See <a class="anchor" href="#pulseapp">Pulse App</a> and <a class="anchor" href="#notifications">Notifications</a>'
                ]
              }
            ]
          },
          {
            title: 'Grades',
            location: 'Found on the course navigation menu',
            howtos: [
              {
                title: 'Save | Print Grade Results',
                video: 'https://www.youtube.com/embed/l-o4St7A-Bc',
                directionslist: [
                  'Select <i class="fas fa-print"></i><mark>Print</mark> in the right-corner of the grades page',
                  'Choose the printer or export to PDF'
                ]
              },
              {
                title: 'View Final Grade',
                video: 'https://www.youtube.com/embed/jCo6bRAdkvw',
                directionslist: [
                  'Final grades or current running grade will be totaled and visible at the top of the page above the grade items',
                  'This grade is only visible when the instructor releases it',
                  'If it is not visible then contact the instructor',
                  'Further grade information is also available in <mark>Class Progress</mark> on the navigation menu',
                  'See <a class="anchor" href="#classprogress">Class Progress</a>'
                ]
              },
              {
                title: 'View Grade Feedback',
                video: 'https://www.youtube.com/embed/-W6NHOP5Erc',
                directionslist: [
                  'If an instructor has included a feedback comment with the grade item then it will appear in the \'Feedback\' column on the grades page',
                  'Rubrics, grade averages, and distribution statistics will appear as an icon next to the grade item title if the instructor has made them available'
                ]
              }
            ]
          }
          ,
          // {
          //   title: 'Groups',
          //   location:
          //     'Found in the \'Additional Course Tools\' widget on the course homepage',
          //   howtos: [
          //     {
          //       title: 'Enroll in a Group',
          //       directionslist: [
          //         'If an instructor has enabled self-enrolling groups then:',
          //         'Select the <mark>View Available Groups</mark> button',
          //         'Select a group to join',
          //         'Note: students cannot change or remove themselves from a group. Contact the instructor.'
          //       ]
          //     },
          //     {
          //       title: 'Message Group Members',
          //       directionslist: [
          //         'The instructor may have set up discussion topics for a group to communicate. See <a class="anchor" href="#discussions">Discussions</a>',
          //         'Alternatively, select the <i class="far fa-envelope"></i> mail icon in the \'Messages\' column next to the group name'
          //       ]
          //     },
          //     {
          //       title: 'View Group Enrollment(s)',
          //       directionslist: [
          //         'If an instructor is using groups then verify group enrollment by selecting the number in the \'Members\' column next to the group or group category',
          //         'View other group enrollments from the \'Classlist\' by using the \'View By\' Groups dropdown menu at the top of the student list'
          //       ]
          //     }
          //   ]
          // },
          {
            title: 'Quizzes',
            location: 'Found on the course navigation menu',
            howtos: [
              {
                title: 'Quiz Completion Screen',
                video: 'https://www.youtube.com/embed/7AA86bKsJkk',
                directionslist: [
                  'After submitting a completed quiz the score may be available on the quiz completion screen',
                  'This score might be inaccurate if the quiz contained short answer or essay questions which cannot be automatically graded',
                  'The instructor will grade these and the score will be adjusted'
                ]
              },
              {
                title: 'Take a Quiz',
                video: 'https://www.youtube.com/embed/jhsB5RlBWHE',
                directionslist: [
                  'Select the title of the quiz',
                  'Review the quiz description, time allowed, attempts allowed',
                  '<mark>Start Quiz</mark>',
                  'Select <mark>Submit Quiz</mark> when finished',
                  'Note: If the internet browser window is accidentally closed or the quiz is interrupted then the quiz can be resumed if still within the instructor-set time allotment'
                ]
              },
              {
                title: 'View Quiz Availability',
                video: 'https://www.youtube.com/embed/A8N0wksq1wA',
                directionslist: [
                  'The list of quizzes will display with start and end dates of availability, if enabled by the instructor',
                  'Alternatively, an \'Always Available\' message will appear with the quiz title'
                ]
              },
              {
                title: 'View Quiz Submission Results',
                video: 'https://www.youtube.com/embed/H9dpGwSyWdo',
                directionslist: [
                  'Select the dropdown <i class="fas fa-caret-down"></i> next to the title of quiz',
                  'Select <mark>Submissions</mark>',
                  'Select the attempt from the \'Individual Attempts\' column',
                  'Review score(s) and question feedback and answers (if enabled by the instructor)',
                  'Score and feedback may also have been sent to Grades. See <a class="anchor" href="#grades">Grades</a>.'
                ]
              }
            ]
          },
          {
            title: 'Support',
            info: 'The HelpDesk is the point of contact for computer services, equipment, and software. <a class="ext" href="http://www.pstcc.edu/itsc/helpdesk/" target="_blank">Contact the HelpDesk</a> <i class="fas fa-external-link-alt"></i>. Contact the instructor for course and content related questions',
            howtos: [
              {
                title: 'Student Semester Checklist',
                video: 'https://www.youtube.com/embed/k63YyQVVdV8',
                directionslist: [
                  'Review the semester checklist on the D2L Brightspace  homepage after logging in',
                  'Complete the checklist to take the D2L Brightspace tour, set up notifications, save your grades, etc'
                ]
              },
              {
                title: 'Official Brightspace Documentation',
                directionslist: [
                  'Access <a class="ext" href="https://documentation.brightspace.com/EN/learners/learners.htm" target="_blank">the student documentation here</a> <i class="fas fa-external-link-alt"></i>']
              }
            ]
          }
        ]
      },
      methods: {
        addTag: function (x) {

          let re = /(\s|<.*>|\(|\)|\|)/g;
          let temp = x.replace(re, '');
          return temp.toLowerCase();
        },
        sort_by: function (field, reverse, primer) {
          var key = primer ?
            function (x) { return primer(x[field]) } :
            function (x) { return x[field] };

          reverse = !reverse ? 1 : -1;

          return function (a, b) {
            return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
          }
        }
      },
      computed: {
        sortTitles: function () {
          let tempsort = this.tools.sort(this.sort_by('title', false, function (a) { return a.toUpperCase() }));
          return tempsort;
        }
      }
    });


  
    $(document).ready(function () {

      // Gets the video src from the data-src on each button

      var $videoSrc;
      $('.video-btn').click(function () {
        $videoSrc = $(this).data("src");
      });
      // when the modal is opened autoplay it  
      $('#myModal').on('shown.bs.modal', function (e) {

        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
        $("#video").attr('src', $videoSrc + "?rel=0&showinfo=0&modestbranding=1&autoplay=1&vq=hd1080");
      })

      // stop playing the youtube video when I close the modal
      $('#myModal').on('hide.bs.modal', function (e) {
        // a poor man's stop video
        $("#video").attr('src', $videoSrc);
      })
      // document ready  
    });

  </script> </body>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</html>
